---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import Notecard from "../../components/Notecard.astro";
import AlertBox from "../../components/AlertBox.astro";
const { env } = Astro.locals.runtime;
const { id } = Astro.params;
import * as fzstd from "fzstd";

let data = "";
let len = 0;
console.log("Trying...");
try {
  console.log("Getting...");
  data = await env.NOTECARDBUCKET.get("pogootdata/" + id);
  if (data == null) {
    console.log("Null...");
    data = JSON.parse(
      '[{"front":["Error loading Notecards"],"back":["Error loading Notecards"]}]',
    );
  } else {
    console.log("Into Buffer");
    let arrayBuffer = await data.arrayBuffer();
    console.log("create text decoder", JSON.stringify(arrayBuffer));
    let utf8decoder = new TextDecoder();
    console.log("into array");
    const compressed = new Uint8Array(arrayBuffer);
    console.log("decompressing", JSON.stringify(compressed));
    const decompressed = fzstd.decompress(compressed);
    console.log("decoding");
    const decoded = utf8decoder.decode(decompressed);
    console.log("decoded", decoded);
    data = decoded;
    data = JSON.parse(data);
    // len = data.length;
  }
} catch (error) {
  console.log(error);
  data = JSON.parse(
    '[{"front":["Error loading Notecards"],"back":["Error loading Notecards"]}]',
  );
}

len = data.length;
let counter = 1;
---

<Layout title="Notecard | Sweep.rs">
  <NavBar />
  <main id="main">
    {
      data.map((item) => (
        <Notecard
          front_text={item.front}
          back_text={item.back}
          idcount={counter++}
        />
      ))
    }
  </main>
  <div id="controlbar">
    <div id="counter">
      <strong id="currentindex">1/</strong><strong id="maxlen">{len}</strong>
    </div><div id="arrows">
      <img id="leftarrow" class="svg" src="/arrowleft.svg" /><img
        id="rightarrow"
        class="svg"
        src="/arrowright.svg"
      />
    </div>
  </div>
</Layout>
<style>
  .svg {
    top: 20px;
    width: 20px;
  }
  body {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
  }

  main {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    text-align: center;
    outline: white solid 2px;
  }
  #controlbar {
    position: absolute;
    top: 76%;
    width: 50%;
    left: 25%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #counter {
    width: 10%;
  }
  #arrows {
    text-align: right;
  }
</style>

<script>
  document.addEventListener("astro:page-load", function () {
    if (document.URL.indexOf("notecards") < 1) {
      return;
    }
    let maxlen = document.getElementById("maxlen").innerHTML;
    let main = document.getElementById("main");
    let showing_front = true;
    main.onclick = function (e) {
      if (showing_front) {
        //show back
        document.getElementById("back" + current_index).style.display = "grid";
        document.getElementById("front" + current_index).style.display = "none";
        showing_front = false;
      } else {
        document.getElementById("back" + current_index).style.display = "none";
        document.getElementById("front" + current_index).style.display = "grid";
        showing_front = true;
      }
    };

    let current_index = 1;
    document.getElementById("notecardContainer" + current_index).style.display =
      "grid";
    document.getElementById("front" + current_index).style.display = "grid";
    document.getElementById("notecardContainer" + current_index).style.height =
      "100%";
    document.getElementById("notecardContainer" + current_index).style.width =
      "100%";
    let curdex = document.getElementById("currentindex");
    let rightarrow = document.getElementById("rightarrow");
    let leftarrow = document.getElementById("leftarrow");
    leftarrow.onclick = function (e) {
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.display = "none";
      document.getElementById("front" + current_index).style.display = "none";
      document.getElementById("back" + current_index).style.display = "none";
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.height = "0%";
      document.getElementById("notecardContainer" + current_index).style.width =
        "0%";
      current_index--;
      if (current_index < 1) {
        current_index = maxlen;
      }
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.display = "grid";
      document.getElementById("front" + current_index).style.display = "grid";
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.height = "100%";
      document.getElementById("notecardContainer" + current_index).style.width =
        "100%";
      curdex.innerHTML = current_index + "/";
      showing_front = true;
    };
    rightarrow.onclick = function (e) {
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.display = "none";
      document.getElementById("front" + current_index).style.display = "none";
      document.getElementById("back" + current_index).style.display = "none";
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.height = "0%";
      document.getElementById("notecardContainer" + current_index).style.width =
        "0%";
      current_index++;
      if (current_index > maxlen) {
        current_index = 1;
      }
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.display = "grid";
      document.getElementById("front" + current_index).style.display = "grid";
      document.getElementById(
        "notecardContainer" + current_index,
      ).style.height = "100%";
      document.getElementById("notecardContainer" + current_index).style.width =
        "100%";
      curdex.innerHTML = current_index + "/";
      showing_front = true;
    };

    document.addEventListener("keydown", function(e){
      if(e.key=="ArrowRight"){
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.display = "none";
        document.getElementById("front" + current_index).style.display = "none";
        document.getElementById("back" + current_index).style.display = "none";
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.height = "0%";
        document.getElementById("notecardContainer" + current_index).style.width =
          "0%";
        current_index++;
        if (current_index > maxlen) {
          current_index = 1;
        }
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.display = "grid";
        document.getElementById("front" + current_index).style.display = "grid";
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.height = "100%";
        document.getElementById("notecardContainer" + current_index).style.width =
          "100%";
        curdex.innerHTML = current_index + "/";
        showing_front = true;
      }else if(e.key=="ArrowLeft"){
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.display = "none";
        document.getElementById("front" + current_index).style.display = "none";
        document.getElementById("back" + current_index).style.display = "none";
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.height = "0%";
        document.getElementById("notecardContainer" + current_index).style.width =
          "0%";
        current_index--;
        if (current_index < 1) {
          current_index = maxlen;
        }
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.display = "grid";
        document.getElementById("front" + current_index).style.display = "grid";
        document.getElementById(
          "notecardContainer" + current_index,
        ).style.height = "100%";
        document.getElementById("notecardContainer" + current_index).style.width =
          "100%";
        curdex.innerHTML = current_index + "/";
        showing_front = true;
      }


    });
  });
</script>
