.vscode/settings.json
pogoot_notecard_algorithm_basic/target
pogootRefactoredRefactored/target
qdrantTest/qdrantTest/target
pogootRefactoredRefactored/src/DBSecrets.toml
pogootRefactoredRefactored/src/CloudflareSecrets.toml
pogootRefactoredRefactored/src/ca.cer
pogootRefactoredRefactored/src/cert.cer
pogootRefactoredRefactored/src/fullchain.cer
pogootRefactoredRefactored/src/key.key
pogootRefactoredRefactored/src/aws_secret_fetch_example.rs
pogootRefactoredRefactored/src/cloud_flare_key.key
pogootRefactoredRefactored/src/cfkey
pogootWebServerTest
pogootRefactoredRefactored/src/cloud_flare_pem.pem
pogootRefactoredRefactored/src/cfpem
compression_test/target
frontend_beta/node_modules
full_frontend/node_modules
full_frontend/pogootProtoV2/.wrangler/tmp
qdrantTest/qdrantTest/target
full_frontend/pogootProtoV2/.wrangler/state/v3/r2/miniflare-R2BucketObject
