---
export const prerender = false;
const { env } = Astro.locals.runtime;
const { users, id } = Astro.params;
const data = await env.NOTECARDBUCKET.get(users+id);
---
<h1>{users}: {id}</h1>
<h3>{data}</h3>