---
export const prerender = false;
const { env } = Astro.locals.runtime;
const { users, id } = Astro.params;
import * as fzstd from 'fzstd';

let data = "wee";
console.log("Trying...");
try{
console.log("Getting...");
  data = await env.NOTECARDBUCKET.get("pogootdata/"+(users + id));
if (data == null) {
console.log("Null...");
  data = "Nothing";
} else {
    console.log("Into Buffer")
  let arrayBuffer = await data.arrayBuffer();
    console.log("create text decoder", arrayBuffer);
  let utf8decoder = new TextDecoder();
    console.log("into array");
  const compressed = new Uint8Array(arrayBuffer);
    console.log("decompressing", compressed);
  const decompressed = fzstd.decompress(compressed);
    console.log("decoding");
  const decoded = utf8decoder.decode(decompressed);
    console.log("decoded", decoded);
  data = decoded;
}
}
catch(error){
  console.log(error);
  data = JSON.stringify(error);
}
---

<h1>{users}: {id}</h1>
<h3>{data}</h3>
