---
export const prerender = false;
const { env } = Astro.locals.runtime;
const { users, id } = Astro.params;
const fzstd = require("fzstd");

let data = "wee";
try{
  data = await env.NOTECARDBUCKET.get("pogootdata/"+(users + id));
if (data == null) {
  data = "Nothing";
} else {
  let arrayBuffer = await data.arrayBuffer();
  let utf8decoder = new TextDecoder();
  if (utf8decoder == null) {
    data = "Decoder is null";
    return;
  }
  const compressed = new Uint8Array(arrayBuffer);
  if (compressed == null) {
    data = "compressed is null";
    return;
  }
  const decompressed = fzstd.decompress(compressed);
  if(decompressed==null){
    data="decompressed is null";
    return;
  }
  const decoded = utf8decoder.decode(decompressed);
  if (decoded==null){
    data = "decoded is null";
      return;
  }
  data = decoded;
}
}
catch(error){
  data = JSON.stringify(error);
}
---

<h1>{users}: {id}</h1>
<h3>{data}</h3>
