---

---

<!doctype html>
<html>
  <head
    ><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Proyecto Dos</title>
  </head>
  <body>
    <main>
      <canvas id="presentationCanvas"> </canvas>
    </main>
    <style>
      html {
        background: lightblue;
      }
    </style>
    <script is:inline>
      //establish canvas
      //make sure canvas is correctly adjusted
      //scale to 16:9 aspect ratio
      //Make plotting system
    </script>
  </body>
</html>
