---

---

<!doctype html>
<html>
  <head
    ><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Proyecto Uno</title>
  </head>
  <body>
<svg
      id="logo"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1694.6988759567093 656.2914077040011"
      width="1694.6988759567093"
      height="656.2914077040011"
    >
      <!-- svg-source:excalidraw -->

      <defs>
        <style class="style-fonts"></style>
      </defs>
      <g
        transform="translate(82.16222067207082 10) rotate(0 14.28210617468062 177.39879248550733)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 9.58,0 Q 9.58,0 9.72,4.75 9.86,9.50 10.21,17.01 10.55,24.51 10.69,33.32 10.83,42.13 10.77,47.74 10.70,53.35 10.16,59.58 9.62,65.80 8.75,72.67 7.87,79.54 7.05,85.97 6.24,92.40 4.51,100.78 2.78,109.17 2.54,113.48 2.30,117.79 1.83,122.42 1.36,127.06 0.27,131.77 -0.80,136.48 -2.78,144.77 -4.76,153.06 -6.16,159.94 -7.55,166.82 -9.67,173.52 -11.79,180.22 -13.10,185.16 -14.41,190.10 -15.79,196.59 -17.17,203.09 -19.13,209.31 -21.09,215.53 -22.52,221.54 -23.94,227.55 -25.31,232.03 -26.67,236.51 -28.18,240.73 -29.70,244.94 -32.02,253.26 -34.35,261.57 -36.12,269.60 -37.89,277.63 -39.40,284.48 -40.92,291.33 -41.75,295.81 -42.57,300.29 -43.80,307.07 -45.03,313.85 -47.31,320.29 -49.59,326.74 -50.44,331.20 -51.29,335.66 -52.36,336.93 -53.42,338.20 -54.76,339.18 -56.10,340.17 -57.64,340.80 -59.18,341.43 -60.82,341.67 -62.46,341.92 -64.12,341.77 -65.77,341.61 -67.34,341.07 -68.91,340.52 -70.30,339.62 -71.69,338.71 -72.83,337.50 -73.96,336.29 -74.78,334.84 -75.59,333.39 -76.03,331.79 -76.47,330.18 -76.52,328.52 -76.56,326.86 -76.21,325.24 -75.86,323.62 -75.13,322.13 -74.40,320.63 -71.99,314.50 -69.59,308.36 -67.29,303.98 -65.00,299.60 -63.65,294.38 -62.31,289.16 -60.99,284.76 -59.66,280.36 -57.34,274.25 -55.02,268.15 -53.43,263.73 -51.83,259.31 -49.50,253.62 -47.16,247.93 -45.10,244.12 -43.03,240.31 -38.56,234.86 -34.09,229.41 -29.43,227.65 -24.76,225.88 -20.21,225.04 -15.65,224.21 -10.90,222.91 -6.14,221.61 -0.52,220.69 5.09,219.77 9.86,219.28 14.64,218.79 19.76,218.66 24.88,218.54 33.81,219.78 42.74,221.03 49.29,224.25 55.84,227.48 61.97,231.50 68.09,235.53 72.23,239.03 76.37,242.54 79.27,246.10 82.16,249.66 85.01,253.19 87.85,256.71 90.35,260.67 92.85,264.63 94.80,269.63 96.75,274.63 98.37,279.96 99.99,285.29 101.47,290.56 102.95,295.83 103.86,300.10 104.77,304.37 105.35,309.24 105.93,314.10 105.05,320.81 104.16,327.53 100.54,332.41 96.92,337.30 93.31,340.30 89.70,343.30 85.63,345.91 81.55,348.53 76.29,351.62 71.04,354.71 64.18,357.71 57.32,360.71 50.03,362.44 42.74,364.17 37.27,365.60 31.80,367.04 27.36,367.79 22.93,368.54 17.77,368.78 12.61,369.02 6.79,369.06 0.96,369.09 -4.47,368.39 -9.91,367.69 -16.80,363.98 -23.70,360.28 -27.50,357.90 -31.30,355.52 -35.94,352.58 -40.57,349.65 -42.48,347.26 -44.38,344.88 -45.57,343.54 -46.76,342.21 -47.60,340.63 -48.44,339.04 -48.87,337.31 -49.30,335.57 -49.31,333.78 -49.31,332.00 -48.89,330.26 -48.46,328.52 -47.64,326.93 -46.81,325.35 -45.63,324.00 -44.44,322.66 -42.97,321.64 -41.50,320.62 -39.83,319.98 -38.16,319.34 -36.39,319.12 -34.61,318.90 -32.83,319.11 -31.06,319.33 -29.38,319.96 -27.71,320.59 -26.23,321.60 -24.76,322.61 -32.35,321.26 -39.93,319.91 -37.58,319.41 -35.23,318.92 -32.85,319.20 -30.47,319.48 -28.30,320.51 -26.13,321.54 -24.40,323.21 -22.67,324.88 -21.57,327.01 -20.46,329.14 -20.10,331.51 -19.73,333.89 -20.14,336.25 -20.55,338.62 -21.70,340.73 -22.84,342.84 -24.60,344.47 -26.36,346.11 -28.55,347.10 -30.74,348.08 -33.13,348.32 -35.52,348.56 -37.86,348.02 -40.20,347.48 -42.24,346.22 -44.29,344.96 -45.83,343.12 -47.36,341.27 -48.23,339.03 -49.10,336.80 -49.20,334.40 -49.31,332.00 -48.65,329.69 -47.98,327.38 -46.61,325.41 -45.25,323.43 -43.32,322.00 -41.40,320.57 -39.11,319.82 -36.83,319.08 -34.43,319.10 -32.03,319.12 -29.76,319.91 -27.49,320.70 -25.60,322.17 -23.70,323.64 -22.37,325.65 -21.04,327.65 -20.42,329.97 -19.80,332.29 -19.96,334.68 -20.11,337.08 -21.02,339.30 -21.93,341.52 -23.50,343.34 -25.08,345.15 -34.73,345.02 -44.38,344.88 -45.57,343.55 -46.76,342.21 -47.60,340.63 -48.44,339.05 -48.87,337.31 -49.30,335.57 -49.31,333.79 -49.31,332.00 -48.89,330.26 -48.46,328.52 -47.64,326.93 -46.81,325.35 -45.63,324.01 -44.44,322.66 -42.98,321.64 -41.51,320.62 -39.83,319.98 -38.16,319.34 -36.39,319.12 -34.61,318.90 -32.84,319.11 -31.06,319.33 -29.39,319.96 -27.71,320.59 -26.24,321.60 -24.76,322.61 -23.58,324.53 -22.41,326.45 -17.68,328.97 -12.95,331.49 -8.86,335.37 -4.76,339.25 2.01,339.89 8.78,340.52 14.35,340.58 19.91,340.64 24.83,339.63 29.76,338.63 36.05,336.97 42.35,335.31 47.05,334.06 51.75,332.81 56.54,329.93 61.32,327.06 66.74,323.54 72.16,320.03 74.56,315.83 76.95,311.63 75.38,304.99 73.80,298.35 72.32,293.48 70.85,288.62 69.07,283.56 67.29,278.50 64.56,274.21 61.84,269.92 58.67,265.46 55.50,261.00 51.70,258.24 47.90,255.48 43.05,252.93 38.19,250.38 33.49,248.95 28.79,247.53 24.32,247.51 19.85,247.50 15.32,247.71 10.79,247.93 3.56,249.41 -3.67,250.90 -10.36,251.01 -17.05,251.11 -19.76,256.58 -22.48,262.05 -24.83,267.61 -27.17,273.17 -29.15,278.04 -31.12,282.91 -32.63,288.11 -34.13,293.30 -36.14,299.43 -38.15,305.55 -40.32,311.01 -42.50,316.47 -44.54,321.34 -46.58,326.21 -48.93,330.93 -51.29,335.65 -52.35,336.93 -53.42,338.20 -54.76,339.18 -56.10,340.16 -57.64,340.80 -59.17,341.43 -60.82,341.67 -62.46,341.92 -64.11,341.77 -65.77,341.61 -67.34,341.07 -68.91,340.52 -70.30,339.62 -71.69,338.71 -72.83,337.50 -73.96,336.29 -74.78,334.84 -75.59,333.39 -76.03,331.79 -76.47,330.19 -76.52,328.53 -76.57,326.86 -76.21,325.24 -75.86,323.62 -75.13,322.13 -74.40,320.63 -73.87,319.85 -73.34,319.06 -71.99,314.07 -70.64,309.08 -69.60,303.89 -68.57,298.71 -67.57,294.51 -66.56,290.31 -65.00,284.79 -63.43,279.28 -61.77,271.83 -60.10,264.38 -59.06,259.49 -58.02,254.60 -56.87,250.48 -55.72,246.37 -54.56,241.48 -53.41,236.59 -51.09,229.22 -48.78,221.85 -46.72,213.93 -44.65,206.02 -42.96,201.29 -41.27,196.57 -40.14,192.39 -39.02,188.20 -37.22,182.85 -35.43,177.50 -33.36,172.30 -31.30,167.10 -29.17,160.64 -27.04,154.19 -24.59,147.26 -22.14,140.32 -19.82,132.32 -17.50,124.33 -16.69,120.04 -15.87,115.75 -15.13,111.26 -14.38,106.77 -13.79,98.52 -13.20,90.27 -12.64,84.00 -12.07,77.73 -11.71,70.99 -11.35,64.25 -11.03,58.80 -10.70,53.34 -10.77,47.74 -10.83,42.13 -10.69,33.32 -10.55,24.51 -10.21,17.01 -9.86,9.50 -9.72,4.75 -9.58,0 -9.45,-1.14 -9.31,-2.29 -8.90,-3.37 -8.49,-4.45 -7.83,-5.40 -7.17,-6.35 -6.31,-7.12 -5.44,-7.89 -4.42,-8.42 -3.40,-8.96 -2.27,-9.24 -1.15,-9.51 0.00,-9.51 1.15,-9.51 2.27,-9.24 3.40,-8.96 4.42,-8.42 5.44,-7.89 6.31,-7.12 7.17,-6.35 7.83,-5.40 8.49,-4.45 8.90,-3.37 9.31,-2.29 9.45,-1.14 9.58,0.00 9.58,0.00 L 9.58,0 Z"
        ></path></g
      ><g
        transform="translate(246.03059678156478 273.0914295335913) rotate(0 60.88687369205968 46.60476751737917)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 10.23,0 Q 10.23,0 9.99,6.91 9.75,13.83 9.79,19.36 9.83,24.89 10.70,33.70 11.57,42.52 12.88,49.93 14.20,57.35 16.10,64.78 18.00,72.20 20.01,78.89 22.02,85.59 23.62,90.29 25.21,95.00 31.86,90.33 38.52,85.66 42.74,83.86 46.95,82.06 51.37,80.05 55.79,78.04 59.91,75.73 64.03,73.41 69.37,69.05 74.71,64.69 79.08,59.83 83.45,54.97 86.24,49.65 89.04,44.33 91.91,38.30 94.78,32.26 97.65,25.47 100.52,18.67 102.24,13.10 103.96,7.53 105.78,1.20 107.61,-5.12 110.24,-12.80 112.88,-20.49 114.70,-21.64 116.53,-22.80 118.63,-23.32 120.72,-23.83 122.88,-23.65 125.03,-23.47 127.01,-22.61 128.99,-21.75 130.60,-20.30 132.20,-18.85 133.26,-16.97 134.32,-15.09 134.72,-12.96 135.12,-10.84 134.82,-8.70 134.52,-6.56 133.56,-4.63 132.59,-2.69 131.06,-1.17 129.53,0.34 127.59,1.30 125.65,2.25 123.51,2.53 121.37,2.82 119.25,2.41 117.12,1.99 115.25,0.92 113.37,-0.14 111.93,-1.75 110.49,-3.36 109.65,-5.35 108.80,-7.34 108.63,-9.49 108.46,-11.64 108.99,-13.74 109.52,-15.83 110.69,-17.65 111.86,-19.47 113.55,-20.82 115.23,-22.16 117.26,-22.90 119.29,-23.64 121.45,-23.69 123.61,-23.74 125.68,-23.10 127.74,-22.46 129.49,-21.20 131.24,-19.93 132.50,-18.17 133.75,-16.41 134.38,-14.35 135.01,-12.28 134.94,-10.12 134.88,-7.96 134.12,-5.93 133.37,-3.91 132.01,-2.23 130.65,-0.55 130.66,-0.55 130.66,-0.55 131.63,0.53 132.60,1.62 131.14,6.11 129.67,10.61 127.86,15.69 126.04,20.77 123.21,28.25 120.38,35.72 117.11,42.65 113.85,49.57 110.21,55.96 106.56,62.34 104.28,66.42 101.99,70.50 96.62,76.13 91.25,81.76 87.55,85.16 83.85,88.55 79.91,91.16 75.98,93.76 71.08,96.74 66.18,99.72 61.59,102.03 56.99,104.33 52.20,106.59 47.42,108.85 42.46,110.83 37.51,112.82 32.99,114.02 28.47,115.22 24.04,115.49 19.61,115.76 14.95,114.38 10.28,113.00 6.43,108.02 2.59,103.03 1.08,97.23 -0.41,91.44 -1.91,85.00 -3.41,78.56 -4.64,73.98 -5.87,69.40 -7.04,61.27 -8.22,53.15 -8.71,44.01 -9.20,34.88 -9.51,29.89 -9.83,24.90 -9.79,19.36 -9.75,13.83 -9.99,6.91 -10.23,0 -10.08,-1.22 -9.93,-2.44 -9.50,-3.60 -9.06,-4.75 -8.36,-5.77 -7.66,-6.78 -6.73,-7.60 -5.81,-8.42 -4.72,-8.99 -3.62,-9.57 -2.43,-9.86 -1.23,-10.16 0.00,-10.16 1.23,-10.16 2.43,-9.86 3.63,-9.57 4.72,-8.99 5.81,-8.42 6.73,-7.60 7.66,-6.78 8.36,-5.77 9.06,-4.75 9.50,-3.60 9.93,-2.44 10.08,-1.22 10.23,0.00 10.23,0.00 L 10.23,0 Z"
        ></path></g
      ><g
        transform="translate(468.53077718711666 297.1455030909483) rotate(0 -6.765208188006795 -40.59124912803975)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 2.11,9.52 Q 2.11,9.52 -1.72,10.56 -5.57,11.60 -11.23,14.50 -16.89,17.39 -22.94,22.63 -28.98,27.88 -32.42,31.95 -35.86,36.02 -38.95,40.50 -42.04,44.99 -43.92,49.62 -45.80,54.26 -47.55,59.35 -49.30,64.45 -50.32,68.94 -51.35,73.43 -52.33,79.90 -53.30,86.37 -50.69,82.77 -48.08,79.16 -43.23,77.94 -38.38,76.73 -30.90,73.13 -23.42,69.54 -17.21,64.77 -10.99,60.00 -5.94,53.97 -0.90,47.93 1.86,41.95 4.63,35.97 6.15,31.91 7.67,27.86 9.20,23.55 10.73,19.25 11.73,14.68 12.72,10.11 13.72,4.67 14.71,-0.77 15.66,-6.54 16.60,-12.31 17.58,-18.60 18.55,-24.88 19.94,-31.38 21.33,-37.89 22.00,-44.23 22.67,-50.57 23.69,-58.30 24.71,-66.02 25.78,-74.04 26.85,-82.05 27.34,-89.58 27.82,-97.11 28.07,-104.63 28.32,-112.15 28.36,-119.24 28.41,-126.33 28.38,-133.23 28.36,-140.13 28.19,-146.09 28.01,-152.05 27.78,-157.18 27.54,-162.30 27.29,-166.64 27.04,-170.98 26.57,-176.14 26.11,-181.29 25.85,-183.82 25.58,-186.35 25.74,-187.61 25.89,-188.87 26.34,-190.05 26.79,-191.23 27.50,-192.27 28.22,-193.31 29.17,-194.15 30.12,-194.99 31.24,-195.58 32.36,-196.16 33.58,-196.47 34.81,-196.77 36.08,-196.77 37.34,-196.77 38.57,-196.47 39.80,-196.16 40.92,-195.58 42.04,-194.99 42.98,-194.15 43.93,-193.31 44.65,-192.27 45.37,-191.23 45.82,-190.05 46.26,-188.86 46.42,-187.61 46.57,-186.35 45.66,-179.62 44.74,-172.89 44.25,-166.04 43.76,-159.20 42.99,-153.72 42.22,-148.24 41.12,-141.25 40.03,-134.27 38.93,-126.95 37.83,-119.64 37.01,-111.65 36.19,-103.66 35.60,-94.62 35.02,-85.57 34.19,-76.78 33.36,-68.00 32.93,-59.69 32.49,-51.38 32.54,-44.38 32.58,-37.38 32.80,-31.38 33.02,-25.38 33.75,-21.04 34.47,-16.70 34.96,-12.36 35.45,-8.03 36.67,-1.94 37.90,4.14 40.12,10.05 42.35,15.95 43.99,20.60 45.64,25.25 47.63,29.46 49.63,33.67 50.77,40.41 51.92,47.15 52.23,51.82 52.54,56.48 52.63,61.00 52.71,65.52 52.79,73.47 52.88,81.42 53.59,87.60 54.30,93.78 54.95,98.03 55.60,102.29 52.73,98.16 49.85,94.03 50.70,93.77 51.55,93.51 53.65,93.93 55.75,94.35 57.61,95.41 59.47,96.48 60.88,98.08 62.30,99.68 63.14,101.65 63.97,103.63 64.13,105.76 64.29,107.90 63.76,109.97 63.23,112.04 62.06,113.84 60.90,115.63 59.22,116.96 57.54,118.29 55.53,119.02 53.52,119.74 51.38,119.79 49.24,119.83 47.19,119.19 45.15,118.55 43.42,117.29 41.69,116.03 40.46,114.28 39.22,112.53 38.60,110.48 37.99,108.43 38.06,106.29 38.13,104.15 38.89,102.15 39.64,100.15 40.99,98.49 42.34,96.83 44.15,95.69 45.96,94.55 48.04,94.04 50.13,93.54 52.26,93.73 54.39,93.92 56.35,94.78 58.31,95.64 59.89,97.08 61.48,98.52 62.52,100.39 63.56,102.26 63.95,104.36 64.34,106.47 64.03,108.59 63.73,110.70 62.77,112.62 61.80,114.53 60.28,116.03 58.75,117.53 56.83,118.47 54.91,119.41 52.78,119.68 50.66,119.96 50.66,119.96 50.67,119.96 48.01,119.80 45.36,119.64 40.43,117.43 35.50,115.23 33.00,108.52 30.50,101.81 29.82,95.82 29.13,89.83 28.68,81.87 28.23,73.91 28.08,65.92 27.93,57.94 27.21,50.89 26.48,43.84 25.89,39.26 25.30,34.68 23.49,28.52 21.69,22.35 20.54,17.15 19.40,11.95 19.05,6.30 18.69,0.65 18.55,-7.31 18.41,-15.28 18.30,-20.38 18.19,-25.47 18.49,-31.51 18.78,-37.55 19.00,-44.63 19.23,-51.70 19.21,-60.25 19.19,-68.80 19.34,-77.30 19.48,-85.80 19.16,-95.05 18.85,-104.31 18.65,-112.94 18.46,-121.57 18.82,-128.96 19.19,-136.35 19.52,-143.61 19.85,-150.87 20.39,-156.54 20.93,-162.21 21.92,-169.76 22.90,-177.30 24.24,-181.83 25.58,-186.35 25.74,-187.61 25.89,-188.86 26.34,-190.05 26.79,-191.23 27.50,-192.27 28.22,-193.31 29.17,-194.15 30.12,-194.99 31.24,-195.58 32.36,-196.16 33.58,-196.47 34.81,-196.77 36.08,-196.77 37.34,-196.77 38.57,-196.47 39.80,-196.16 40.92,-195.58 42.04,-194.99 42.98,-194.15 43.93,-193.31 44.65,-192.27 45.37,-191.23 45.82,-190.05 46.26,-188.86 46.42,-187.61 46.57,-186.35 46.30,-183.82 46.04,-181.29 45.57,-176.13 45.11,-170.97 44.85,-166.63 44.60,-162.29 44.35,-157.16 44.11,-152.02 43.92,-146.05 43.72,-140.08 43.65,-133.15 43.58,-126.21 43.52,-119.05 43.46,-111.90 43.45,-104.20 43.44,-96.50 43.32,-88.56 43.21,-80.61 42.87,-72.57 42.52,-64.53 42.24,-56.84 41.97,-49.16 41.62,-41.60 41.28,-34.05 40.28,-28.20 39.28,-22.35 38.69,-15.85 38.11,-9.35 37.43,-3.33 36.75,2.67 35.95,8.68 35.16,14.69 33.97,20.81 32.79,26.92 31.22,31.48 29.65,36.04 27.95,40.65 26.25,45.25 24.15,50.02 22.04,54.79 16.52,62.12 11.01,69.44 7.50,73.57 4.00,77.70 0.11,80.91 -3.77,84.12 -8.22,87.11 -12.67,90.09 -17.11,92.40 -21.56,94.71 -26.78,96.97 -32.00,99.23 -38.15,101.12 -44.30,103.00 -52.21,103.92 -60.12,104.84 -66.14,102.34 -72.17,99.83 -73.83,93.81 -75.50,87.80 -74.51,82.46 -73.52,77.13 -72.43,72.80 -71.34,68.47 -69.95,63.19 -68.56,57.91 -66.64,52.22 -64.72,46.53 -62.05,40.02 -59.38,33.51 -55.83,28.05 -52.28,22.59 -48.23,17.50 -44.17,12.41 -39.71,8.13 -35.24,3.85 -30.91,1.06 -26.59,-1.72 -22.36,-3.68 -18.13,-5.64 -14.06,-6.89 -9.98,-8.14 -6.05,-8.83 -2.11,-9.52 -0.94,-9.64 0.22,-9.75 1.38,-9.59 2.55,-9.42 3.64,-8.97 4.73,-8.53 5.68,-7.84 6.63,-7.15 7.39,-6.25 8.15,-5.35 8.68,-4.30 9.20,-3.25 9.45,-2.10 9.71,-0.95 9.68,0.22 9.66,1.39 9.35,2.53 9.04,3.67 8.47,4.69 7.90,5.72 7.10,6.59 6.30,7.45 5.31,8.09 4.33,8.74 3.22,9.13 2.11,9.52 2.11,9.52 L 2.11,9.52 Z"
        ></path></g
      ><g
        transform="translate(635.4059124912803 294.1387438962788) rotate(0 -60.13518389339231 127.78726577345867)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M -2.00,10.00 Q -2.00,10.00 -6.34,9.25 -10.68,8.51 -16.34,8.38 -21.99,8.26 -27.19,9.86 -32.38,11.47 -38.05,16.18 -43.72,20.89 -47.50,28.19 -51.29,35.49 -52.43,40.01 -53.58,44.52 -54.04,49.02 -54.50,53.52 -54.69,58.03 -54.87,62.55 -53.86,69.61 -52.85,76.68 -50.26,80.43 -47.67,84.18 -42.57,83.94 -37.47,83.71 -36.23,79.03 -34.99,74.36 -32.94,70.38 -30.89,66.40 -28.41,58.86 -25.93,51.33 -23.59,42.98 -21.25,34.63 -19.61,26.50 -17.98,18.38 -16.89,11.78 -15.81,5.19 -15.10,0.31 -14.40,-4.56 -14.35,-5.86 -14.31,-7.17 -13.94,-8.66 -13.57,-10.15 -12.85,-11.51 -12.13,-12.87 -11.11,-14.02 -10.09,-15.16 -8.82,-16.03 -7.55,-16.90 -6.11,-17.44 -4.67,-17.98 -3.15,-18.17 -1.62,-18.35 -0.10,-18.16 1.42,-17.97 2.86,-17.42 4.29,-16.87 5.55,-15.99 6.82,-15.12 7.83,-13.96 8.85,-12.81 9.56,-11.45 10.27,-10.08 10.63,-8.59 11.00,-7.10 10.99,-5.56 10.99,-4.02 10.64,0.88 10.30,5.79 9.05,11.09 7.80,16.38 6.30,23.95 4.79,31.51 4.41,35.81 4.03,40.11 2.67,46.68 1.31,53.26 -0.22,59.15 -1.76,65.05 -2.85,70.50 -3.95,75.94 -5.51,82.44 -7.08,88.93 -8.75,95.53 -10.43,102.14 -12.12,108.80 -13.81,115.47 -14.92,121.52 -16.02,127.57 -16.93,133.59 -17.83,139.61 -18.66,145.62 -19.48,151.63 -19.94,158.14 -20.41,164.64 -20.85,172.18 -21.29,179.72 -21.46,186.83 -21.63,193.95 -21.62,200.43 -21.61,206.91 -21.55,213.12 -21.49,219.33 -21.76,224.94 -22.03,230.54 -22.98,235.64 -23.93,240.73 -25.19,247.85 -26.46,254.97 -27.99,259.26 -29.52,263.56 -31.87,267.30 -34.23,271.04 -39.11,272.76 -44.00,274.47 -48.90,274.07 -53.80,273.67 -59.07,271.63 -64.35,269.58 -69.56,266.13 -74.77,262.67 -80.56,257.87 -86.36,253.07 -91.27,247.71 -96.19,242.35 -100.14,238.79 -104.09,235.24 -107.75,232.56 -111.41,229.89 -116.72,226.68 -122.03,223.47 -126.73,218.64 -131.43,213.81 -132.48,208.21 -133.53,202.60 -131.91,197.91 -130.29,193.22 -126.68,188.89 -123.08,184.55 -121.31,183.14 -119.54,181.74 -117.42,180.97 -115.29,180.21 -113.04,180.16 -110.78,180.11 -108.62,180.79 -106.47,181.47 -104.64,182.80 -102.82,184.12 -101.51,185.97 -100.21,187.81 -99.56,189.97 -98.91,192.13 -98.98,194.39 -99.06,196.65 -99.85,198.76 -100.64,200.88 -102.07,202.63 -103.49,204.38 -105.40,205.58 -107.31,206.79 -109.51,207.32 -111.70,207.85 -113.95,207.65 -116.20,207.45 -118.27,206.55 -120.34,205.64 -122.01,204.12 -123.68,202.61 -124.78,200.63 -125.88,198.66 -126.29,196.44 -126.70,194.22 -126.38,191.99 -126.06,189.75 -125.05,187.73 -124.03,185.72 -122.42,184.13 -120.82,182.54 -118.79,181.55 -116.76,180.56 -114.52,180.27 -112.28,179.98 -110.07,180.42 -107.85,180.86 -105.89,181.99 -103.93,183.11 -102.44,184.80 -100.94,186.49 -100.06,188.57 -99.18,190.65 -99.01,192.90 -98.85,195.15 -99.40,197.34 -99.96,199.53 -101.19,201.42 -102.42,203.32 -102.42,203.32 -102.42,203.31 -104.56,205.50 -106.69,207.69 -108.89,202.54 -111.09,197.40 -106.11,201.67 -101.14,205.94 -96.92,208.68 -92.70,211.43 -87.43,215.70 -82.15,219.97 -77.41,225.02 -72.66,230.07 -68.87,234.12 -65.07,238.18 -60.07,241.84 -55.08,245.49 -52.17,249.97 -49.27,254.46 -46.44,249.47 -43.62,244.48 -41.71,236.75 -39.81,229.03 -39.21,224.16 -38.60,219.30 -38.52,213.07 -38.44,206.84 -38.37,200.32 -38.31,193.80 -38.36,186.60 -38.41,179.40 -38.55,171.57 -38.70,163.73 -38.48,156.44 -38.26,149.14 -37.47,143.02 -36.68,136.90 -35.83,130.65 -34.98,124.40 -33.97,117.84 -32.96,111.29 -31.73,104.57 -30.50,97.85 -29.35,91.26 -28.21,84.67 -27.22,78.44 -26.22,72.20 -25.36,65.99 -24.49,59.79 -23.45,54.54 -22.42,49.30 -21.78,43.89 -21.14,38.49 -20.89,32.91 -20.64,27.34 -19.95,22.54 -19.26,17.74 -17.72,10.75 -16.18,3.76 -15.25,-1.70 -14.31,-7.17 -13.94,-8.66 -13.57,-10.15 -12.85,-11.51 -12.13,-12.87 -11.11,-14.01 -10.09,-15.16 -8.82,-16.03 -7.55,-16.90 -6.11,-17.44 -4.68,-17.98 -3.15,-18.17 -1.62,-18.35 -0.10,-18.16 1.42,-17.97 2.85,-17.42 4.29,-16.87 5.55,-15.99 6.81,-15.12 7.83,-13.96 8.85,-12.81 9.56,-11.45 10.27,-10.08 10.63,-8.59 11.00,-7.10 10.99,-5.56 10.99,-4.02 10.39,-0.16 9.80,3.68 8.69,9.89 7.59,16.09 5.72,23.89 3.85,31.70 3.11,36.62 2.37,41.55 1.21,45.69 0.05,49.83 -2.37,58.43 -4.80,67.03 -6.39,72.34 -7.98,77.64 -9.85,81.61 -11.72,85.58 -16.07,92.98 -20.41,100.39 -28.57,104.77 -36.72,109.15 -44.81,108.46 -52.91,107.77 -58.85,104.26 -64.80,100.74 -68.67,94.53 -72.54,88.32 -73.83,84.16 -75.11,80.01 -75.65,75.66 -76.18,71.31 -76.45,66.40 -76.71,61.49 -76.42,56.35 -76.13,51.21 -75.46,45.20 -74.80,39.20 -73.30,33.24 -71.80,27.27 -69.20,20.91 -66.60,14.55 -63.01,9.56 -59.41,4.57 -54.78,0.21 -50.14,-4.13 -45.39,-6.94 -40.64,-9.75 -35.40,-11.48 -30.16,-13.22 -25.48,-13.51 -20.80,-13.81 -13.70,-12.89 -6.60,-11.96 -2.30,-10.98 2.00,-10.00 3.16,-9.61 4.33,-9.23 5.37,-8.58 6.42,-7.92 7.27,-7.04 8.13,-6.16 8.75,-5.09 9.36,-4.03 9.71,-2.85 10.06,-1.67 10.11,-0.44 10.17,0.78 9.93,1.98 9.68,3.19 9.16,4.30 8.64,5.41 7.86,6.37 7.09,7.32 6.11,8.07 5.13,8.81 4.00,9.30 2.87,9.78 1.66,9.98 0.45,10.19 -0.77,10.09 -2.00,10.00 -2.00,10.00 L -2.00,10.00 Z"
        ></path></g
      ><g
        transform="translate(691.0309575926681 336.2333726216534) rotate(0 58.63180429605757 17.28886536935022)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M -1.05,-10.56 Q -1.05,-10.56 3.25,-11.08 7.56,-11.61 13.73,-13.07 19.89,-14.53 27.13,-16.18 34.36,-17.83 41.81,-19.44 49.25,-21.05 55.20,-23.35 61.15,-25.66 65.37,-28.27 69.59,-30.88 72.10,-35.45 74.60,-40.01 74.88,-44.90 75.15,-49.79 77.37,-45.57 79.58,-41.36 72.88,-41.00 66.17,-40.64 57.73,-40.01 49.29,-39.37 43.74,-35.94 38.20,-32.51 34.36,-27.66 30.51,-22.81 26.79,-14.82 23.07,-6.84 21.91,-2.36 20.75,2.11 19.70,7.14 18.66,12.18 18.11,17.69 17.56,23.19 17.67,28.67 17.78,34.16 18.56,39.60 19.34,45.04 20.50,50.29 21.66,55.54 23.60,59.53 25.53,63.52 29.26,67.58 32.98,71.64 39.59,73.88 46.21,76.12 53.23,76.43 60.24,76.73 64.95,76.84 69.66,76.95 74.27,76.99 78.88,77.04 85.47,75.51 92.06,73.99 94.95,70.69 97.84,67.39 99.60,63.10 101.36,58.81 109.59,49.25 117.81,39.69 119.86,40.11 121.91,40.54 123.72,41.60 125.52,42.66 126.90,44.24 128.27,45.82 129.07,47.76 129.86,49.69 130.00,51.78 130.14,53.87 129.60,55.89 129.06,57.92 127.91,59.66 126.75,61.41 125.10,62.69 123.45,63.98 121.47,64.67 119.49,65.36 117.40,65.38 115.31,65.40 113.32,64.76 111.33,64.11 109.64,62.86 107.96,61.61 106.77,59.90 105.58,58.18 104.99,56.17 104.41,54.15 104.50,52.06 104.59,49.97 105.35,48.02 106.10,46.07 107.44,44.45 108.77,42.84 110.56,41.75 112.34,40.65 114.38,40.17 116.42,39.70 118.50,39.91 120.58,40.11 122.49,40.97 124.40,41.82 125.94,43.25 127.47,44.67 128.47,46.51 129.47,48.35 129.84,50.41 130.20,52.47 129.88,54.54 129.56,56.61 128.60,58.47 127.64,60.33 126.14,61.79 124.64,63.24 122.75,64.14 120.86,65.04 118.78,65.29 116.70,65.54 116.70,65.54 116.70,65.54 122.34,61.30 127.98,57.07 126.29,62.48 124.60,67.90 121.83,73.46 119.06,79.01 114.26,84.22 109.46,89.43 104.85,92.58 100.25,95.73 94.67,97.54 89.10,99.35 83.92,99.80 78.73,100.26 74.02,100.24 69.31,100.22 64.31,100.19 59.31,100.15 54.66,99.94 50.00,99.72 45.00,99.09 40.00,98.46 32.16,95.31 24.32,92.17 18.12,86.34 11.92,80.50 9.37,76.31 6.83,72.11 4.22,66.16 1.61,60.21 0.22,54.27 -1.16,48.34 -2.33,41.70 -3.49,35.05 -3.88,28.38 -4.28,21.70 -3.98,14.87 -3.68,8.03 -2.72,2.34 -1.76,-3.35 -0.25,-9.87 1.24,-16.40 3.30,-21.39 5.36,-26.37 7.74,-31.44 10.11,-36.50 13.46,-41.34 16.82,-46.18 20.66,-49.72 24.50,-53.26 29.11,-56.33 33.73,-59.39 39.69,-62.00 45.65,-64.61 50.70,-65.38 55.75,-66.15 61.28,-66.72 66.81,-67.28 71.37,-67.26 75.93,-67.25 81.18,-66.89 86.42,-66.54 91.25,-64.67 96.07,-62.79 99.09,-55.09 102.11,-47.39 101.58,-42.20 101.05,-37.01 98.13,-30.55 95.21,-24.09 91.99,-19.76 88.76,-15.43 82.84,-11.03 76.91,-6.63 69.80,-3.51 62.69,-0.39 58.31,0.91 53.93,2.22 46.46,3.60 38.98,4.99 31.80,6.28 24.62,7.57 17.17,8.72 9.72,9.88 5.38,10.22 1.05,10.56 -0.22,10.53 -1.50,10.51 -2.73,10.17 -3.97,9.84 -5.09,9.22 -6.21,8.60 -7.15,7.73 -8.09,6.87 -8.79,5.80 -9.50,4.73 -9.93,3.52 -10.35,2.32 -10.48,1.04 -10.61,-0.22 -10.43,-1.49 -10.25,-2.75 -9.77,-3.94 -9.29,-5.13 -8.54,-6.16 -7.79,-7.20 -6.81,-8.03 -5.84,-8.86 -4.69,-9.43 -3.55,-10.00 -2.30,-10.28 -1.05,-10.56 -1.05,-10.56 L -1.05,-10.56 Z"
        ></path></g
      ><g
        transform="translate(815.8114641714574 283.61508671493493) rotate(0 42.846318524041976 -48.1081471147138)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M -1.32,-9.97 Q -1.32,-9.97 5.16,-10.68 11.66,-11.40 16.01,-12.62 20.36,-13.83 26.33,-17.59 32.31,-21.34 35.29,-24.45 38.26,-27.55 42.74,-35.00 47.21,-42.46 49.55,-46.55 51.88,-50.64 54.26,-54.39 56.65,-58.15 61.53,-64.18 66.41,-70.22 69.38,-74.01 72.36,-77.80 72.67,-82.28 72.98,-86.75 72.96,-90.84 72.94,-94.94 73.16,-96.46 73.37,-97.98 73.94,-99.41 74.51,-100.83 75.41,-102.08 76.30,-103.33 77.47,-104.33 78.64,-105.33 80.01,-106.02 81.38,-106.71 82.88,-107.05 84.38,-107.39 85.92,-107.36 87.45,-107.33 88.94,-106.94 90.42,-106.54 91.77,-105.80 93.12,-105.06 94.25,-104.02 95.38,-102.99 96.23,-101.71 97.08,-100.43 97.60,-98.98 98.12,-97.53 98.27,-96.00 98.43,-94.48 98.38,-93.78 98.33,-93.09 97.74,-91.11 97.15,-89.13 95.96,-87.45 94.77,-85.76 93.10,-84.55 91.44,-83.33 89.47,-82.71 87.51,-82.09 85.44,-82.13 83.38,-82.17 81.44,-82.87 79.50,-83.56 77.88,-84.84 76.27,-86.12 75.14,-87.85 74.02,-89.58 73.50,-91.58 72.99,-93.58 73.14,-95.63 73.30,-97.69 74.10,-99.59 74.90,-101.49 76.26,-103.04 77.63,-104.58 79.41,-105.61 81.20,-106.64 83.22,-107.04 85.25,-107.45 87.29,-107.18 89.34,-106.92 91.19,-106.02 93.04,-105.12 94.51,-103.67 95.98,-102.22 96.91,-100.38 97.84,-98.54 98.14,-96.50 98.43,-94.46 98.06,-92.43 97.68,-90.40 96.68,-88.60 95.68,-86.80 94.16,-85.41 92.63,-84.02 90.74,-83.19 88.86,-82.36 86.80,-82.18 84.75,-82.00 82.74,-82.48 80.74,-82.96 78.99,-84.06 77.25,-85.16 75.94,-86.75 74.64,-88.35 73.91,-90.28 73.19,-92.21 73.07,-93.57 72.94,-94.94 73.16,-96.46 73.37,-97.98 73.94,-99.41 74.51,-100.83 75.41,-102.08 76.30,-103.33 77.47,-104.33 78.64,-105.33 80.01,-106.02 81.38,-106.71 82.88,-107.05 84.38,-107.39 85.92,-107.36 87.45,-107.33 88.94,-106.94 90.42,-106.54 91.77,-105.80 93.12,-105.07 94.25,-104.03 95.38,-102.99 96.23,-101.71 97.08,-100.43 97.60,-98.98 98.12,-97.53 98.27,-96.01 98.43,-94.48 98.40,-92.22 98.38,-89.96 98.07,-85.69 97.77,-81.42 96.27,-75.43 94.78,-69.45 90.85,-63.86 86.92,-58.27 82.93,-54.35 78.93,-50.43 74.67,-45.08 70.42,-39.72 68.02,-35.78 65.63,-31.85 62.87,-27.15 60.11,-22.45 56.62,-17.60 53.13,-12.74 48.77,-8.53 44.42,-4.32 39.89,-1.40 35.35,1.51 30.29,3.48 25.23,5.45 19.75,6.70 14.26,7.94 7.79,8.96 1.32,9.97 0.11,9.98 -1.09,10.00 -2.27,9.72 -3.45,9.44 -4.53,8.89 -5.61,8.34 -6.53,7.55 -7.45,6.75 -8.15,5.76 -8.85,4.77 -9.29,3.65 -9.74,2.52 -9.90,1.31 -10.06,0.11 -9.92,-1.08 -9.79,-2.29 -9.37,-3.43 -8.96,-4.57 -8.28,-5.57 -7.60,-6.58 -6.71,-7.39 -5.81,-8.21 -4.74,-8.78 -3.67,-9.36 -2.50,-9.66 -1.32,-9.97 -1.32,-9.97 L -1.32,-9.97 Z"
        ></path></g
      ><g
        transform="translate(866.9263704808409 143.80078416279798) rotate(0 2.2550693960021135 150.33795973348083)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 8.40,0 Q 8.40,0 8.50,6.05 8.60,12.10 8.78,17.26 8.97,22.43 9.12,27.65 9.26,32.87 9.33,38.55 9.40,44.22 8.91,50.84 8.42,57.46 8.17,63.84 7.92,70.22 7.67,77.25 7.43,84.29 6.77,91.85 6.11,99.42 5.55,107.55 4.99,115.68 4.19,124.10 3.39,132.52 2.53,140.83 1.67,149.15 1.36,156.85 1.05,164.54 0.04,172.50 -0.96,180.46 -1.11,186.55 -1.26,192.65 -2.10,198.79 -2.94,204.93 -3.09,210.02 -3.24,215.11 -3.17,219.81 -3.10,224.52 -1.86,228.98 -0.62,233.44 0.51,238.46 1.65,243.47 5.17,249.70 8.69,255.92 10.74,259.86 12.79,263.81 15.86,269.17 18.92,274.54 21.55,281.08 24.18,287.62 26.47,293.29 28.76,298.96 28.71,300.96 28.67,302.96 27.98,304.83 27.30,306.71 26.05,308.27 24.81,309.83 23.13,310.91 21.45,312.00 19.51,312.48 17.58,312.97 15.58,312.82 13.59,312.66 11.75,311.88 9.92,311.10 8.43,309.77 6.93,308.44 5.95,306.70 4.96,304.97 4.57,303.01 4.19,301.05 4.45,299.07 4.72,297.09 5.60,295.29 6.48,293.50 7.89,292.08 9.30,290.67 11.08,289.77 12.87,288.88 14.85,288.60 16.83,288.33 18.79,288.70 20.75,289.07 22.49,290.05 24.24,291.02 25.58,292.51 26.91,293.99 27.71,295.82 28.50,297.65 28.67,299.64 28.84,301.63 28.37,303.57 27.89,305.51 26.82,307.20 25.75,308.89 24.20,310.14 22.64,311.40 20.77,312.09 18.90,312.79 16.90,312.85 14.90,312.91 12.99,312.33 11.08,311.75 9.45,310.59 7.83,309.43 6.66,307.81 5.49,306.19 4.90,304.28 4.30,302.38 4.30,302.38 4.30,302.38 4.25,301.86 4.20,301.34 3.05,297.17 1.91,293.00 -0.35,286.05 -2.63,279.09 -5.64,272.45 -8.65,265.80 -10.79,261.57 -12.93,257.35 -14.71,252.18 -16.48,247.02 -17.24,242.14 -18.01,237.26 -19.19,230.63 -20.38,224.00 -19.94,218.89 -19.50,213.78 -18.76,207.98 -18.03,202.18 -16.78,196.93 -15.53,191.69 -14.85,185.23 -14.17,178.76 -13.21,171.41 -12.26,164.06 -12.01,156.08 -11.77,148.09 -11.33,139.86 -10.89,131.63 -10.65,123.47 -10.42,115.32 -10.58,106.83 -10.75,98.35 -10.48,91.22 -10.20,84.09 -10.29,76.90 -10.38,69.71 -10.27,62.95 -10.15,56.19 -9.77,50.21 -9.40,44.22 -9.33,38.54 -9.26,32.87 -9.12,27.65 -8.97,22.43 -8.78,17.26 -8.60,12.10 -8.50,6.05 -8.40,0 -8.28,-1.00 -8.15,-2.01 -7.79,-2.95 -7.43,-3.90 -6.86,-4.73 -6.28,-5.57 -5.53,-6.24 -4.77,-6.91 -3.87,-7.38 -2.97,-7.85 -1.99,-8.09 -1.01,-8.34 0.00,-8.34 1.01,-8.34 1.99,-8.09 2.97,-7.85 3.87,-7.38 4.77,-6.91 5.53,-6.24 6.28,-5.57 6.86,-4.73 7.44,-3.90 7.79,-2.95 8.15,-2.01 8.28,-1.00 8.40,0.00 8.40,0.00 L 8.40,0 Z"
        ></path></g
      ><g
        transform="translate(986.6583207886915 310.2102973679657) rotate(0 142.8210617468069 62.39025328939465)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 9.97,-2.84 Q 9.97,-2.84 11.57,3.23 13.17,9.32 14.77,13.80 16.36,18.29 17.69,23.31 19.01,28.33 20.04,33.07 21.07,37.81 22.88,45.76 24.68,53.71 26.06,61.41 27.44,69.11 27.89,73.59 28.34,78.08 28.69,82.81 29.05,87.55 28.45,92.51 27.84,97.47 27.36,98.96 26.88,100.44 26.05,101.77 25.23,103.09 24.11,104.18 23.00,105.27 21.65,106.06 20.31,106.85 18.81,107.30 17.32,107.74 15.76,107.82 14.20,107.89 12.67,107.59 11.14,107.29 9.73,106.63 8.31,105.97 7.10,105.00 5.88,104.02 4.93,102.78 3.99,101.54 3.36,100.11 2.74,98.68 2.48,97.14 2.22,95.60 2.33,94.05 2.45,92.49 4.47,87.25 6.49,82.00 9.67,75.77 12.86,69.53 15.69,65.20 18.53,60.88 22.92,55.97 27.31,51.05 31.33,46.96 35.36,42.86 39.28,39.00 43.19,35.14 50.15,29.26 57.11,23.38 61.12,19.36 65.13,15.34 69.02,12.19 72.90,9.04 79.61,4.65 86.32,0.26 93.73,-2.97 101.14,-6.21 108.12,-8.98 115.10,-11.75 119.36,-13.02 123.61,-14.29 130.93,-15.87 138.24,-17.44 142.96,-18.03 147.67,-18.62 152.19,-16.94 156.71,-15.26 159.70,-10.87 162.68,-6.48 164.12,-2.21 165.56,2.05 167.36,9.05 169.16,16.06 170.42,23.62 171.67,31.18 172.84,36.73 174.02,42.28 174.43,46.60 174.85,50.92 175.44,56.74 176.03,62.57 176.49,67.87 176.95,73.16 177.57,76.72 178.20,80.27 178.02,81.88 177.85,83.50 177.29,85.03 176.74,86.55 175.83,87.90 174.93,89.25 173.73,90.35 172.53,91.44 171.10,92.22 169.67,92.99 168.10,93.40 166.52,93.81 164.90,93.83 163.28,93.85 161.69,93.49 160.11,93.12 158.66,92.38 157.21,91.65 155.98,90.59 154.75,89.53 153.81,88.20 152.87,86.88 152.27,85.37 151.67,83.85 151.46,82.24 151.24,80.63 153.91,75.48 156.57,70.32 160.44,66.83 164.31,63.34 167.92,60.22 171.53,57.10 175.61,54.28 179.69,51.45 183.19,48.92 186.70,46.38 191.13,43.45 195.57,40.53 200.09,37.65 204.61,34.77 209.16,31.89 213.72,29.01 218.68,25.82 223.64,22.64 227.48,20.39 231.33,18.14 236.61,13.95 241.90,9.76 247.57,8.37 253.24,6.99 259.67,7.46 266.10,7.94 270.34,10.34 274.57,12.74 278.17,18.16 281.77,23.59 283.63,29.03 285.49,34.47 287.06,41.79 288.63,49.11 289.00,54.06 289.36,59.02 290.67,66.55 291.99,74.08 292.86,81.42 293.73,88.76 294.84,94.10 295.96,99.45 296.54,106.61 297.12,113.78 297.87,119.59 298.62,125.40 298.85,128.57 299.09,131.75 298.82,133.91 298.56,136.07 297.62,138.03 296.68,140.00 295.16,141.56 293.64,143.12 291.70,144.11 289.76,145.11 287.61,145.43 285.45,145.75 283.31,145.37 281.16,144.99 279.25,143.94 277.34,142.90 275.87,141.30 274.39,139.69 273.50,137.71 272.62,135.72 272.41,133.55 272.20,131.38 272.70,129.26 273.20,127.14 274.35,125.29 275.50,123.44 277.18,122.05 278.86,120.66 280.89,119.88 282.92,119.11 285.10,119.02 287.28,118.93 289.37,119.54 291.46,120.15 293.24,121.40 295.03,122.65 296.32,124.40 297.62,126.15 298.29,128.22 298.95,130.30 298.92,132.48 298.89,134.65 298.17,136.71 297.44,138.76 296.10,140.48 294.76,142.19 292.94,143.39 291.12,144.59 289.01,145.14 286.91,145.70 284.73,145.55 282.56,145.40 280.55,144.57 278.54,143.73 276.90,142.30 275.26,140.87 274.16,138.98 273.06,137.10 272.62,134.97 272.18,132.83 272.18,132.84 272.18,132.84 272.13,131.02 272.08,129.20 271.47,124.90 270.85,120.59 270.74,115.04 270.64,109.48 269.80,103.89 268.96,98.29 268.17,91.73 267.38,85.18 266.39,78.15 265.41,71.13 263.89,62.89 262.38,54.64 260.94,48.33 259.50,42.01 259.43,37.22 259.37,32.43 254.00,33.54 248.62,34.65 242.75,38.13 236.89,41.62 232.02,45.30 227.15,48.98 222.83,52.07 218.50,55.17 214.31,58.22 210.13,61.26 206.29,64.15 202.45,67.04 198.69,70.03 194.93,73.03 189.56,77.39 184.20,81.75 178.90,85.72 173.61,89.68 175.90,84.97 178.20,80.27 178.02,81.88 177.85,83.50 177.30,85.02 176.74,86.55 175.84,87.90 174.93,89.25 173.73,90.35 172.53,91.44 171.10,92.21 169.67,92.99 168.10,93.40 166.53,93.81 164.90,93.83 163.28,93.85 161.69,93.49 160.11,93.12 158.66,92.39 157.21,91.65 155.98,90.59 154.75,89.53 153.81,88.20 152.87,86.88 152.27,85.37 151.67,83.86 151.46,82.25 151.24,80.64 150.86,79.04 150.48,77.45 150.37,72.02 150.27,66.59 149.65,59.82 149.03,53.05 148.17,47.06 147.31,41.07 146.51,34.69 145.72,28.30 144.24,21.82 142.76,15.34 141.94,10.93 141.12,6.51 135.52,7.43 129.92,8.35 122.87,10.58 115.83,12.80 109.21,14.83 102.59,16.85 96.70,19.49 90.81,22.13 85.11,25.86 79.41,29.59 75.43,33.60 71.45,37.61 65.72,44.52 59.99,51.43 56.42,55.29 52.85,59.15 49.43,63.05 46.02,66.95 43.07,70.67 40.12,74.40 36.22,81.29 32.32,88.17 30.08,92.82 27.84,97.47 27.36,98.96 26.88,100.44 26.06,101.76 25.23,103.09 24.12,104.18 23.00,105.27 21.65,106.06 20.31,106.85 18.81,107.29 17.32,107.74 15.76,107.82 14.20,107.89 12.67,107.59 11.14,107.29 9.73,106.63 8.31,105.97 7.10,105.00 5.88,104.02 4.93,102.78 3.99,101.54 3.37,100.11 2.74,98.68 2.48,97.14 2.22,95.61 2.33,94.05 2.45,92.49 2.57,91.68 2.69,90.86 3.56,86.00 4.44,81.14 4.55,76.22 4.67,71.31 3.87,64.67 3.07,58.02 1.69,49.98 0.30,41.94 -0.47,37.58 -1.25,33.22 -2.15,29.03 -3.05,24.84 -4.65,19.86 -6.25,14.87 -8.11,8.86 -9.97,2.84 -10.17,1.61 -10.36,0.37 -10.26,-0.86 -10.15,-2.11 -9.75,-3.29 -9.35,-4.48 -8.68,-5.53 -8.01,-6.58 -7.10,-7.45 -6.20,-8.31 -5.11,-8.93 -4.03,-9.55 -2.82,-9.90 -1.62,-10.24 -0.37,-10.29 0.87,-10.33 2.09,-10.08 3.32,-9.82 4.44,-9.28 5.57,-8.74 6.54,-7.95 7.50,-7.15 8.25,-6.15 9.00,-5.15 9.48,-4.00 9.97,-2.84 9.97,-2.84 L 9.97,-2.84 Z"
        ></path></g
      ><g
        transform="translate(1341.6921167620396 343.7407137439791) rotate(0 36.08111033603541 33.07435114136581)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 10.56,0.88 Q 10.56,0.88 10.13,6.06 9.71,11.25 9.22,19.31 8.72,27.36 7.52,34.69 6.31,42.02 5.54,46.97 4.78,51.93 4.16,56.20 3.54,60.48 3.08,65.69 2.61,70.91 1.05,75.25 -0.51,79.59 -4.05,76.20 -7.60,72.82 -2.63,73.10 2.33,73.39 9.68,73.56 17.03,73.74 23.05,73.74 29.08,73.74 33.97,73.62 38.87,73.51 43.13,73.39 47.40,73.27 53.65,72.44 59.90,71.60 64.44,71.51 68.98,71.42 68.79,63.57 68.60,55.73 68.78,47.97 68.96,40.21 69.74,32.33 70.53,24.46 70.59,19.23 70.66,13.99 71.25,9.45 71.83,4.92 72.51,-0.18 73.18,-5.29 73.17,-10.55 73.17,-15.82 76.55,-11.65 79.93,-7.48 74.91,-5.86 69.89,-4.25 65.18,-3.49 60.46,-2.72 54.54,-1.84 48.62,-0.96 44.21,-0.05 39.81,0.86 35.29,0.94 30.78,1.01 26.04,1.09 21.30,1.17 17.02,1.13 12.73,1.10 16.63,-1.12 20.52,-3.36 22.11,1.25 23.69,5.87 23.76,10.80 23.84,15.74 23.88,20.37 23.92,25.00 23.97,29.96 24.01,34.93 24.06,39.46 24.11,43.98 24.11,48.68 24.10,53.37 23.38,60.56 22.67,67.74 20.21,73.85 17.74,79.97 16.37,73.82 15.00,67.68 8.73,66.53 2.46,65.39 6.75,64.36 11.03,63.33 16.20,62.62 21.38,61.90 25.51,60.56 29.64,59.22 34.49,58.16 39.35,57.09 43.77,55.73 48.18,54.38 46.06,59.83 43.94,65.29 43.70,60.64 43.47,55.99 43.20,51.38 42.93,46.76 42.59,40.61 42.25,34.45 41.68,27.80 41.11,21.14 44.66,23.74 48.22,26.35 43.14,27.44 38.06,28.53 40.19,24.38 42.33,20.23 42.77,27.41 43.22,34.59 43.32,39.06 43.42,43.53 36.13,38.57 28.84,33.61 30.27,27.62 31.70,21.63 35.80,16.55 39.89,11.48 42.38,7.23 44.86,2.99 48.27,-1.77 51.68,-6.54 54.50,-8.64 57.31,-10.73 59.07,-11.29 60.82,-11.85 62.66,-11.97 64.50,-12.10 66.31,-11.78 68.13,-11.46 69.81,-10.71 71.50,-9.96 72.95,-8.84 74.41,-7.71 75.56,-6.27 76.70,-4.82 77.47,-3.15 78.23,-1.47 78.58,0.33 78.92,2.14 78.82,3.98 78.72,5.82 78.18,7.58 77.64,9.34 76.70,10.92 75.76,12.51 74.46,13.82 73.17,15.13 71.60,16.09 70.03,17.05 64.96,18.17 59.90,19.28 55.50,20.77 51.11,22.25 46.52,23.01 41.93,23.77 35.95,24.02 29.97,24.27 24.52,24.24 19.08,24.22 21.74,19.74 24.40,15.25 24.96,20.61 25.52,25.96 26.87,31.05 28.22,36.14 29.21,41.10 30.19,46.06 30.25,51.00 30.31,55.95 30.33,60.49 30.36,65.03 27.44,59.82 24.51,54.60 17.57,55.44 10.62,56.27 15.48,50.94 20.33,45.61 22.14,45.20 23.96,44.78 25.82,44.81 27.68,44.85 29.48,45.32 31.27,45.80 32.91,46.69 34.54,47.58 35.91,48.84 37.28,50.10 38.31,51.65 39.34,53.20 39.97,54.95 40.60,56.70 40.79,58.55 40.98,60.40 40.73,62.24 40.47,64.08 39.78,65.81 39.09,67.54 38.01,69.05 36.92,70.56 35.51,71.77 34.10,72.98 32.43,73.82 30.77,74.65 20.83,69.78 10.88,64.91 10.50,62.44 10.12,59.97 10.55,57.51 10.98,55.05 12.17,52.86 13.37,50.66 15.20,48.97 17.03,47.27 19.30,46.24 21.58,45.22 24.06,44.98 26.55,44.73 28.98,45.29 31.41,45.86 33.54,47.16 35.66,48.47 37.26,50.39 38.86,52.31 39.76,54.64 40.66,56.97 40.77,59.46 40.88,61.96 40.18,64.36 39.49,66.76 38.07,68.81 36.64,70.86 34.64,72.35 32.64,73.84 30.26,74.61 27.89,75.38 25.39,75.36 22.90,75.33 20.54,74.51 18.18,73.69 16.21,72.16 14.24,70.62 12.86,68.54 11.48,66.46 10.84,64.05 10.19,61.64 10.36,59.15 10.52,56.65 11.47,54.34 12.41,52.04 14.05,50.15 15.69,48.26 17.84,47.00 19.99,45.74 22.44,45.22 24.88,44.71 27.36,45.01 29.84,45.31 32.09,46.38 34.35,47.45 36.14,49.19 37.94,50.92 29.13,48.27 20.33,45.61 22.14,45.20 23.96,44.78 25.82,44.81 27.68,44.85 29.47,45.32 31.27,45.80 32.90,46.69 34.54,47.58 35.91,48.84 37.28,50.10 38.31,51.65 39.34,53.20 39.97,54.95 40.60,56.70 40.79,58.55 40.98,60.40 40.73,62.24 40.47,64.08 39.78,65.81 39.09,67.54 38.01,69.05 36.92,70.56 35.51,71.77 34.10,72.98 32.44,73.82 30.77,74.65 31.38,74.72 31.98,74.80 27.80,76.71 23.63,78.62 15.45,79.19 7.27,79.75 4.74,75.65 2.21,71.54 0.96,66.03 -0.27,60.52 -0.24,55.71 -0.22,50.90 0.47,45.61 1.18,40.31 -1.76,33.78 -4.71,27.25 -5.24,19.70 -5.78,12.16 -3.81,6.64 -1.84,1.12 7.01,-2.52 15.88,-6.17 21.17,-6.21 26.46,-6.24 31.04,-6.13 35.62,-6.01 42.11,-7.17 48.60,-8.32 52.95,-9.53 57.31,-10.73 59.07,-11.29 60.82,-11.85 62.66,-11.97 64.50,-12.10 66.31,-11.78 68.13,-11.46 69.81,-10.71 71.50,-9.96 72.95,-8.84 74.41,-7.71 75.55,-6.27 76.70,-4.82 77.47,-3.15 78.23,-1.47 78.58,0.33 78.92,2.14 78.82,3.98 78.72,5.82 78.18,7.58 77.64,9.34 76.70,10.92 75.76,12.50 74.46,13.82 73.17,15.13 71.60,16.09 70.03,17.05 71.35,15.24 72.68,13.43 69.48,18.28 66.29,23.13 62.65,27.98 59.01,32.82 57.21,36.92 55.40,41.02 52.59,45.42 49.78,49.81 45.27,54.30 40.75,58.79 35.36,59.78 29.97,60.77 21.67,48.88 13.37,36.99 12.70,31.90 12.03,26.82 12.11,22.14 12.19,17.47 13.55,12.74 14.91,8.02 21.20,4.50 27.49,0.98 34.99,-0.18 42.49,-1.34 47.90,-1.95 53.32,-2.56 59.23,1.25 65.15,5.06 67.92,11.87 70.70,18.69 71.40,23.79 72.10,28.90 72.35,34.85 72.60,40.79 73.24,46.37 73.88,51.95 74.03,56.30 74.19,60.65 73.53,66.59 72.87,72.53 68.51,76.58 64.15,80.62 59.05,81.84 53.94,83.05 46.67,85.30 39.39,87.55 32.38,89.77 25.37,91.99 20.91,92.08 16.44,92.16 12.33,93.27 8.22,94.38 2.10,92.53 -4.01,90.69 -6.42,82.36 -8.84,74.03 -7.99,69.56 -7.15,65.09 -6.60,59.23 -6.06,53.37 -6.06,48.68 -6.07,43.98 -6.02,39.46 -5.97,34.93 -5.93,29.97 -5.88,25.00 -5.85,20.42 -5.81,15.85 -5.89,10.13 -5.96,4.41 -6.61,-0.98 -7.25,-6.37 -5.86,-12.78 -4.48,-19.19 -0.78,-22.13 2.92,-25.06 7.13,-26.61 11.35,-28.16 16.33,-28.19 21.30,-28.23 26.01,-28.15 30.72,-28.08 35.25,-27.77 39.77,-27.47 45.53,-28.57 51.29,-29.67 55.96,-30.43 60.63,-31.20 65.37,-31.92 70.11,-32.65 76.74,-33.79 83.37,-34.93 89.84,-31.16 96.30,-27.38 98.77,-22.60 101.24,-17.82 101.09,-13.16 100.94,-8.49 100.09,-3.09 99.24,2.31 98.42,8.39 97.61,14.48 97.45,19.99 97.30,25.51 97.20,30.95 97.11,36.39 96.83,42.15 96.55,47.92 96.76,56.05 96.97,64.19 96.99,70.92 97.00,77.65 94.65,83.94 92.29,90.22 88.88,93.86 85.48,97.50 80.44,98.80 75.40,100.09 71.12,100.01 66.84,99.92 61.76,99.91 56.68,99.90 52.21,100.50 47.73,101.11 43.30,100.99 38.86,100.88 33.95,100.75 29.04,100.63 22.97,100.61 16.89,100.59 9.10,100.63 1.30,100.68 -5.73,100.05 -12.78,99.41 -17.86,95.86 -22.94,92.30 -25.35,86.01 -27.76,79.72 -26.12,74.41 -24.49,69.11 -22.88,63.89 -21.28,58.66 -20.08,53.79 -18.89,48.92 -17.57,43.24 -16.24,37.56 -14.74,31.00 -13.23,24.44 -12.33,16.96 -11.44,9.49 -11.00,4.30 -10.56,-0.88 -10.30,-2.13 -10.04,-3.38 -9.49,-4.53 -8.94,-5.68 -8.13,-6.67 -7.32,-7.66 -6.29,-8.42 -5.27,-9.19 -4.09,-9.69 -2.92,-10.18 -1.66,-10.39 -0.39,-10.59 0.87,-10.48 2.14,-10.37 3.35,-9.97 4.56,-9.56 5.64,-8.87 6.72,-8.19 7.60,-7.26 8.49,-6.34 9.12,-5.23 9.76,-4.12 10.11,-2.90 10.46,-1.67 10.51,-0.39 10.56,0.88 10.56,0.88 L 10.56,0.88 Z"
        ></path></g
      ><g
        transform="translate(1529.2090147487138 314.7204361599702) rotate(0 27.812522550693757 56.37673490005545)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 10.58,1.17 Q 10.58,1.17 10.26,5.07 9.95,8.98 9.99,14.65 10.02,20.33 9.68,27.80 9.33,35.26 9.22,42.07 9.10,48.88 8.63,53.23 8.16,57.59 7.39,64.06 6.62,70.53 5.35,76.56 4.09,82.58 2.69,87.44 1.29,92.29 -0.10,96.90 -1.51,101.50 -3.66,106.94 -5.82,112.37 -7.34,118.49 -8.85,124.61 -9.06,125.84 -9.27,127.07 -9.94,128.56 -10.62,130.05 -11.63,131.33 -12.65,132.61 -13.94,133.61 -15.23,134.61 -16.72,135.27 -18.21,135.93 -19.82,136.22 -21.43,136.51 -23.06,136.40 -24.69,136.29 -26.24,135.80 -27.80,135.31 -29.19,134.46 -30.59,133.61 -31.73,132.45 -32.88,131.28 -33.72,129.88 -34.56,128.48 -35.04,126.92 -35.52,125.36 -35.61,123.73 -35.70,122.10 -35.40,120.49 -35.09,118.89 -35.11,113.76 -35.13,108.63 -34.43,102.69 -33.73,96.76 -32.27,90.37 -30.82,83.98 -29.05,78.96 -27.28,73.95 -24.82,68.63 -22.37,63.32 -19.24,59.43 -16.10,55.53 -12.47,51.02 -8.84,46.51 -6.05,42.68 -3.27,38.86 -1.13,34.81 1.00,30.76 4.47,25.85 7.95,20.93 12.22,16.90 16.49,12.88 20.49,11.06 24.50,9.24 31.11,6.67 37.73,4.11 43.31,1.87 48.89,-0.37 54.26,-3.27 59.62,-6.16 61.66,-10.38 63.69,-14.59 63.74,-15.60 63.79,-16.60 64.69,-18.01 65.58,-19.42 66.79,-20.58 68.00,-21.74 69.44,-22.57 70.89,-23.40 72.50,-23.87 74.11,-24.33 75.78,-24.40 77.45,-24.46 79.08,-24.12 80.72,-23.79 82.23,-23.07 83.74,-22.35 85.03,-21.29 86.33,-20.23 87.33,-18.90 88.33,-17.56 88.99,-16.02 89.64,-14.48 89.91,-12.83 90.17,-11.18 90.03,-9.51 89.90,-7.85 89.37,-6.26 88.83,-4.68 90.03,1.82 91.22,8.33 91.37,12.92 91.52,17.51 91.57,24.81 91.62,32.11 91.68,37.49 91.73,42.87 91.80,47.14 91.86,51.41 91.27,56.57 90.68,61.73 90.06,68.10 89.44,74.47 89.24,79.19 89.04,83.91 87.71,89.71 86.38,95.51 84.78,100.85 83.18,106.19 81.67,111.03 80.16,115.86 80.34,118.84 80.53,121.83 80.14,124.13 79.75,126.42 78.65,128.47 77.56,130.52 75.86,132.11 74.16,133.71 72.05,134.68 69.93,135.64 67.62,135.88 65.30,136.13 63.03,135.62 60.76,135.11 58.77,133.90 56.78,132.69 55.29,130.91 53.79,129.13 52.94,126.96 52.08,124.80 51.97,122.47 51.85,120.15 52.49,117.91 53.12,115.67 54.43,113.75 55.75,111.83 57.61,110.43 59.46,109.03 61.67,108.30 63.88,107.57 66.21,107.58 68.53,107.59 70.74,108.34 72.94,109.09 74.78,110.51 76.63,111.93 77.93,113.86 79.22,115.79 79.84,118.03 80.45,120.28 80.31,122.60 80.18,124.92 79.30,127.08 78.43,129.24 76.92,131.01 75.40,132.77 73.41,133.96 71.41,135.15 69.13,135.64 66.86,136.13 64.54,135.87 62.23,135.61 60.13,134.62 58.02,133.64 56.34,132.03 54.65,130.42 53.57,128.36 52.49,126.30 52.13,124.00 51.76,121.70 51.76,121.70 51.76,121.71 51.84,118.51 51.91,115.32 53.10,110.03 54.29,104.74 55.82,100.26 57.35,95.77 58.57,91.69 59.80,87.61 60.77,82.49 61.75,77.37 62.38,71.72 63.02,66.06 63.42,59.42 63.83,52.77 64.21,47.85 64.59,42.94 64.61,37.65 64.62,32.36 64.44,25.57 64.26,18.78 63.51,11.22 62.75,3.66 62.71,-0.97 62.68,-5.61 63.24,-11.10 63.79,-16.60 64.69,-18.01 65.58,-19.42 66.79,-20.58 67.99,-21.74 69.44,-22.57 70.89,-23.40 72.50,-23.87 74.10,-24.33 75.77,-24.40 77.44,-24.46 79.08,-24.13 80.72,-23.79 82.23,-23.07 83.74,-22.35 85.03,-21.29 86.33,-20.23 87.33,-18.90 88.33,-17.56 88.99,-16.02 89.64,-14.48 89.90,-12.83 90.17,-11.18 90.03,-9.52 89.90,-7.85 89.37,-6.26 88.84,-4.68 87.28,-1.44 85.72,1.78 83.17,5.77 80.62,9.77 77.31,13.25 74.00,16.74 68.04,20.14 62.08,23.54 57.70,25.85 53.31,28.16 47.10,30.41 40.89,32.66 36.55,34.31 32.21,35.96 28.67,40.50 25.12,45.04 22.39,49.99 19.66,54.95 15.94,60.03 12.21,65.10 9.15,68.98 6.08,72.86 3.36,76.19 0.63,79.51 -1.27,83.39 -3.19,87.27 -4.43,91.63 -5.68,95.99 -6.68,100.90 -7.69,105.80 -8.28,110.82 -8.88,115.83 -9.07,121.45 -9.27,127.07 -9.94,128.56 -10.62,130.04 -11.63,131.33 -12.65,132.61 -13.94,133.61 -15.23,134.61 -16.72,135.27 -18.21,135.93 -19.82,136.22 -21.43,136.51 -23.06,136.40 -24.68,136.29 -26.24,135.80 -27.80,135.31 -29.19,134.46 -30.58,133.61 -31.73,132.45 -32.88,131.29 -33.72,129.88 -34.56,128.48 -35.04,126.92 -35.52,125.36 -35.61,123.73 -35.70,122.10 -35.40,120.50 -35.09,118.89 -34.81,117.69 -34.52,116.50 -33.43,112.20 -32.35,107.90 -30.33,102.68 -28.31,97.47 -26.53,93.14 -24.75,88.81 -23.19,84.41 -21.63,80.01 -20.25,75.91 -18.88,71.80 -17.96,66.70 -17.05,61.59 -15.96,54.97 -14.87,48.34 -14.45,40.34 -14.03,32.34 -13.41,26.01 -12.80,19.68 -12.24,13.13 -11.68,6.57 -11.13,2.70 -10.58,-1.17 -10.28,-2.42 -9.99,-3.67 -9.40,-4.81 -8.82,-5.95 -7.98,-6.92 -7.14,-7.89 -6.09,-8.63 -5.04,-9.37 -3.84,-9.84 -2.65,-10.31 -1.38,-10.47 -0.10,-10.64 1.16,-10.50 2.44,-10.36 3.64,-9.91 4.85,-9.47 5.91,-8.75 6.97,-8.03 7.83,-7.08 8.70,-6.13 9.30,-5.00 9.91,-3.87 10.23,-2.63 10.55,-1.38 10.56,-0.10 10.58,1.17 10.58,1.17 L 10.58,1.17 Z"
        ></path></g
      ><g
        transform="translate(1677.1819779700354 202.69339938129178) rotate(0 -1.5033795973349697 108.9950208067736)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 9.07,-1.21 Q 9.07,-1.21 9.88,5.28 10.69,11.77 11.21,17.39 11.73,23.02 12.41,28.11 13.08,33.21 13.74,39.35 14.39,45.50 15.09,51.53 15.80,57.57 16.13,63.92 16.46,70.27 16.53,76.87 16.59,83.47 16.64,89.73 16.68,95.98 16.71,102.10 16.75,108.22 16.92,112.98 17.10,117.74 16.83,122.43 16.55,127.13 16.07,131.35 15.58,135.58 14.42,142.87 13.26,150.16 11.95,158.18 10.64,166.20 9.39,170.90 8.15,175.61 6.63,184.56 5.10,193.51 4.25,200.53 3.40,207.54 2.57,212.78 1.73,218.01 1.58,219.25 1.43,220.48 0.72,222.32 0.01,224.17 -1.24,225.69 -2.51,227.21 -4.19,228.25 -5.87,229.28 -7.80,229.73 -9.72,230.18 -11.69,229.98 -13.66,229.79 -15.46,228.98 -17.26,228.17 -18.71,226.83 -20.16,225.49 -21.11,223.75 -22.05,222.01 -22.39,220.07 -22.74,218.12 -22.44,216.17 -22.14,214.21 -21.23,212.46 -20.33,210.70 -18.91,209.32 -17.49,207.95 -15.70,207.10 -13.92,206.25 -11.95,206.01 -9.99,205.78 -8.06,206.18 -6.12,206.59 -4.42,207.59 -2.71,208.59 -1.42,210.08 -0.12,211.57 0.62,213.40 1.37,215.23 1.50,217.20 1.63,219.17 1.12,221.08 0.61,222.99 -0.47,224.64 -1.56,226.29 -3.12,227.50 -4.68,228.72 -6.55,229.37 -8.41,230.02 -10.39,230.04 -12.36,230.06 -14.24,229.45 -16.12,228.84 -17.71,227.66 -19.30,226.48 -20.42,224.86 -21.55,223.23 -22.10,221.34 -22.65,219.44 -22.56,217.46 -22.48,215.49 -22.48,215.49 -22.48,215.49 -21.47,212.59 -20.45,209.70 -19.36,203.49 -18.27,197.28 -16.64,189.19 -15.00,181.09 -14.34,175.34 -13.67,169.60 -11.73,161.95 -9.79,154.30 -8.95,150.08 -8.10,145.85 -6.42,139.13 -4.75,132.40 -3.42,125.08 -2.09,117.77 -1.94,113.03 -1.78,108.29 -1.80,102.22 -1.81,96.15 -1.88,90.00 -1.95,83.85 -2.14,77.54 -2.33,71.23 -2.62,65.51 -2.90,59.79 -3.64,53.69 -4.38,47.58 -5.09,41.44 -5.80,35.31 -6.30,29.80 -6.80,24.30 -7.02,19.23 -7.23,14.16 -8.15,7.68 -9.07,1.21 -9.08,0.10 -9.10,-0.99 -8.85,-2.07 -8.59,-3.14 -8.09,-4.12 -7.59,-5.11 -6.87,-5.94 -6.15,-6.78 -5.25,-7.41 -4.34,-8.05 -3.32,-8.46 -2.29,-8.86 -1.20,-9.00 -0.10,-9.15 0.99,-9.03 2.08,-8.91 3.12,-8.53 4.16,-8.15 5.07,-7.54 5.99,-6.92 6.73,-6.10 7.47,-5.28 7.99,-4.31 8.52,-3.34 8.79,-2.27 9.07,-1.20 9.07,-1.20 L 9.07,-1.21 Z"
        ></path></g
      ><g
        transform="translate(1666.6583207886915 462.6933993812918) rotate(0 0.00004999999998744897 0.00004999999998744897)"
        stroke="none"
        ><path
          fill="#ffd43b"
          d="M 6.28,-6.28 Q 6.28,-6.28 7.11,-5.11 7.95,-3.94 8.37,-2.57 8.80,-1.19 8.76,0.23 8.72,1.67 8.22,3.02 7.73,4.37 6.83,5.49 5.93,6.61 4.72,7.38 3.50,8.15 2.11,8.50 0.72,8.85 -0.71,8.73 -2.14,8.61 -3.46,8.05 -4.78,7.48 -5.85,6.52 -6.92,5.56 -7.63,4.31 -8.33,3.06 -8.60,1.65 -8.87,0.23 -8.68,-1.18 -8.49,-2.60 -7.85,-3.89 -7.21,-5.18 -6.19,-6.19 -5.18,-7.21 -3.89,-7.85 -2.60,-8.49 -1.18,-8.68 0.24,-8.87 1.65,-8.60 3.06,-8.33 4.31,-7.62 5.56,-6.92 6.52,-5.85 7.48,-4.78 8.05,-3.46 8.62,-2.14 8.73,-0.70 8.85,0.72 8.50,2.11 8.15,3.51 7.38,4.72 6.61,5.93 5.49,6.83 4.36,7.73 3.02,8.22 1.67,8.72 0.23,8.76 -1.20,8.80 -2.57,8.37 -3.94,7.95 -5.11,7.11 -6.28,6.27 -6.28,6.28 -6.28,6.28 -6.94,5.43 -7.60,4.59 -8.04,3.61 -8.48,2.64 -8.67,1.58 -8.86,0.53 -8.80,-0.53 -8.73,-1.60 -8.41,-2.62 -8.09,-3.64 -7.54,-4.56 -6.99,-5.47 -6.23,-6.23 -5.47,-6.99 -4.56,-7.54 -3.64,-8.10 -2.62,-8.41 -1.60,-8.73 -0.53,-8.80 0.53,-8.86 1.59,-8.67 2.64,-8.48 3.61,-8.04 4.59,-7.60 5.43,-6.94 6.28,-6.28 6.28,-6.28 L 6.28,-6.28 Z"
        ></path></g
      ><g
        transform="translate(28.040555168017363 564.7470714165443) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.61,7.52 30.12,7.52 32.52,7.92 34.92,8.32 37.06,9.47 39.20,10.62 40.87,12.39 42.53,14.16 43.54,16.37 44.56,18.58 44.81,21.00 45.06,23.42 44.53,25.79 44.00,28.16 42.74,30.24 41.48,32.32 39.62,33.89 37.76,35.45 35.50,36.34 33.24,37.23 30.81,37.36 28.38,37.48 26.04,36.82 23.70,36.16 21.69,34.79 19.69,33.41 18.22,31.47 16.76,29.53 15.99,27.22 15.22,24.92 15.23,22.49 15.24,20.06 16.03,17.75 16.81,15.45 18.29,13.52 19.77,11.59 21.79,10.24 23.81,8.88 26.15,8.24 28.50,7.60 30.93,7.74 33.35,7.88 35.61,8.79 37.86,9.70 39.71,11.28 41.55,12.86 42.80,14.95 44.04,17.04 44.56,19.42 45.07,21.79 44.80,24.21 44.52,26.63 43.50,28.83 42.47,31.03 40.79,32.79 39.11,34.55 36.95,35.68 34.80,36.81 32.40,37.19 30.00,37.57 30.00,37.57 30.00,37.57 26.84,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ><g
        transform="translate(664.6988759567089 562.6933993812918) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.37,7.52 29.65,7.52 32.04,7.92 34.44,8.33 36.58,9.47 38.73,10.62 40.39,12.39 42.05,14.16 43.07,16.37 44.08,18.58 44.33,21.00 44.59,23.42 44.05,25.79 43.52,28.16 42.26,30.24 41.00,32.31 39.14,33.88 37.28,35.45 35.02,36.34 32.76,37.23 30.33,37.35 27.91,37.47 25.57,36.81 23.23,36.15 21.22,34.78 19.21,33.41 17.75,31.47 16.29,29.53 15.52,27.22 14.75,24.91 14.76,22.48 14.77,20.05 15.56,17.75 16.34,15.45 17.82,13.53 19.30,11.60 21.32,10.24 23.34,8.88 25.68,8.24 28.02,7.60 30.45,7.74 32.88,7.89 35.13,8.80 37.39,9.70 39.23,11.28 41.08,12.87 42.32,14.95 43.57,17.04 44.08,19.42 44.59,21.79 44.32,24.21 44.05,26.62 43.02,28.82 41.99,31.03 40.31,32.78 38.63,34.54 36.48,35.67 34.33,36.80 31.93,37.18 29.53,37.57 29.53,37.57 29.53,37.57 26.60,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ><g
        transform="translate(1224.698875956709 602.6933993812918) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.37,7.52 29.65,7.52 32.04,7.92 34.44,8.33 36.58,9.47 38.73,10.62 40.39,12.39 42.05,14.16 43.07,16.37 44.08,18.58 44.33,21.00 44.59,23.42 44.05,25.79 43.52,28.16 42.26,30.24 41.00,32.31 39.14,33.88 37.28,35.45 35.02,36.34 32.76,37.23 30.33,37.35 27.91,37.47 25.57,36.81 23.23,36.15 21.22,34.78 19.21,33.41 17.75,31.47 16.29,29.53 15.52,27.22 14.75,24.91 14.76,22.48 14.77,20.05 15.56,17.75 16.34,15.45 17.82,13.53 19.30,11.60 21.32,10.24 23.34,8.88 25.68,8.24 28.02,7.60 30.45,7.74 32.88,7.89 35.13,8.80 37.39,9.70 39.23,11.28 41.08,12.87 42.32,14.95 43.57,17.04 44.08,19.42 44.59,21.79 44.32,24.21 44.05,26.62 43.02,28.82 41.99,31.03 40.31,32.78 38.63,34.54 36.48,35.67 34.33,36.80 31.93,37.18 29.53,37.57 29.53,37.57 29.53,37.57 26.60,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ><g
        transform="translate(1444.698875956709 542.6933993812918) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.37,7.52 29.65,7.52 32.04,7.92 34.44,8.33 36.58,9.47 38.73,10.62 40.39,12.39 42.05,14.16 43.07,16.37 44.08,18.58 44.33,21.00 44.59,23.42 44.05,25.79 43.52,28.16 42.26,30.24 41.00,32.31 39.14,33.88 37.28,35.45 35.02,36.34 32.76,37.23 30.33,37.35 27.91,37.47 25.57,36.81 23.23,36.15 21.22,34.78 19.21,33.41 17.75,31.47 16.29,29.53 15.52,27.22 14.75,24.91 14.76,22.48 14.77,20.05 15.56,17.75 16.34,15.45 17.82,13.53 19.30,11.60 21.32,10.24 23.34,8.88 25.68,8.24 28.02,7.60 30.45,7.74 32.88,7.89 35.13,8.80 37.39,9.70 39.23,11.28 41.08,12.87 42.32,14.95 43.57,17.04 44.08,19.42 44.59,21.79 44.32,24.21 44.05,26.62 43.02,28.82 41.99,31.03 40.31,32.78 38.63,34.54 36.48,35.67 34.33,36.80 31.93,37.18 29.53,37.57 29.53,37.57 29.53,37.57 26.60,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ><g
        transform="translate(984.6988759567089 522.6933993812918) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.37,7.52 29.65,7.52 32.04,7.92 34.44,8.33 36.58,9.47 38.73,10.62 40.39,12.39 42.05,14.16 43.07,16.37 44.08,18.58 44.33,21.00 44.59,23.42 44.05,25.79 43.52,28.16 42.26,30.24 41.00,32.31 39.14,33.88 37.28,35.45 35.02,36.34 32.76,37.23 30.33,37.35 27.91,37.47 25.57,36.81 23.23,36.15 21.22,34.78 19.21,33.41 17.75,31.47 16.29,29.53 15.52,27.22 14.75,24.91 14.76,22.48 14.77,20.05 15.56,17.75 16.34,15.45 17.82,13.53 19.30,11.60 21.32,10.24 23.34,8.88 25.68,8.24 28.02,7.60 30.45,7.74 32.88,7.89 35.13,8.80 37.39,9.70 39.23,11.28 41.08,12.87 42.32,14.95 43.57,17.04 44.08,19.42 44.59,21.79 44.32,24.21 44.05,26.62 43.02,28.82 41.99,31.03 40.31,32.78 38.63,34.54 36.48,35.67 34.33,36.80 31.93,37.18 29.53,37.57 29.53,37.57 29.53,37.57 26.60,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ><g
        transform="translate(304.6988759567089 522.6933993812918) rotate(0 23.302383758689757 21.799004161354674)"
        stroke="none"
        ><path
          fill="#9775fa"
          d="M 8.94,5.11 Q 8.94,5.11 7.35,8.21 5.77,11.32 4.06,15.94 2.36,20.56 -0.97,26.29 -4.31,32.02 -5.78,36.43 -7.25,40.84 -8.29,41.98 -9.32,43.13 -10.60,43.99 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.32,46.07 -17.85,46.23 -19.38,46.03 -20.91,45.82 -22.34,45.26 -23.78,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.57 -29.01,39.20 -29.71,37.82 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.39 -28.12,26.04 -20.05,23.87 -11.98,21.71 -7.27,22.11 -2.57,22.52 2.29,23.78 7.16,25.05 15.10,26.31 23.03,27.56 27.81,28.79 32.59,30.01 37.31,30.37 42.03,30.73 43.90,25.11 45.76,19.48 48.38,14.70 50.99,9.91 52.19,14.75 53.38,19.59 49.80,22.25 46.22,24.90 39.24,22.07 32.26,19.24 27.62,19.32 22.98,19.41 16.49,17.99 10.00,16.57 5.76,15.84 1.53,15.11 2.32,15.21 3.11,15.32 1.36,15.03 -0.37,14.75 -2.00,14.06 -3.63,13.37 -5.04,12.31 -6.46,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.67 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.10,-11.63 -2.61,-12.57 -0.93,-13.13 0.73,-13.70 2.49,-13.84 4.26,-13.98 10.82,-3.98 17.39,6.01 13.20,3.33 9.00,0.65 12.88,2.90 16.76,5.16 20.93,6.34 25.10,7.51 27.37,7.52 29.65,7.52 32.04,7.92 34.44,8.33 36.58,9.47 38.73,10.62 40.39,12.39 42.05,14.16 43.07,16.37 44.08,18.58 44.33,21.00 44.59,23.42 44.05,25.79 43.52,28.16 42.26,30.24 41.00,32.31 39.14,33.88 37.28,35.45 35.02,36.34 32.76,37.23 30.33,37.35 27.91,37.47 25.57,36.81 23.23,36.15 21.22,34.78 19.21,33.41 17.75,31.47 16.29,29.53 15.52,27.22 14.75,24.91 14.76,22.48 14.77,20.05 15.56,17.75 16.34,15.45 17.82,13.53 19.30,11.60 21.32,10.24 23.34,8.88 25.68,8.24 28.02,7.60 30.45,7.74 32.88,7.89 35.13,8.80 37.39,9.70 39.23,11.28 41.08,12.87 42.32,14.95 43.57,17.04 44.08,19.42 44.59,21.79 44.32,24.21 44.05,26.62 43.02,28.82 41.99,31.03 40.31,32.78 38.63,34.54 36.48,35.67 34.33,36.80 31.93,37.18 29.53,37.57 29.53,37.57 29.53,37.57 26.60,37.52 23.67,37.46 18.98,36.50 14.29,35.54 10.06,34.26 5.83,32.97 0.64,29.81 -4.53,26.64 -6.98,22.64 -9.43,18.63 -10.54,12.77 -11.64,6.91 -11.22,2.46 -10.80,-1.99 -3.84,6.66 3.11,15.32 1.37,15.03 -0.37,14.75 -2.00,14.06 -3.62,13.37 -5.04,12.31 -6.45,11.25 -7.57,9.88 -8.69,8.51 -9.45,6.92 -10.21,5.32 -10.57,3.59 -10.93,1.86 -10.86,0.09 -10.79,-1.66 -10.30,-3.36 -9.81,-5.06 -8.93,-6.59 -8.04,-8.13 -6.82,-9.40 -5.60,-10.68 -4.11,-11.62 -2.61,-12.57 -0.94,-13.13 0.73,-13.70 2.49,-13.84 4.25,-13.98 10.08,-12.96 15.90,-11.94 21.43,-10.97 26.96,-10.01 32.88,-8.29 38.79,-6.57 43.27,-5.20 47.74,-3.82 52.62,-3.69 57.51,-3.57 62.10,-3.04 66.70,-2.51 70.13,0.06 73.56,2.65 74.88,7.59 76.19,12.53 75.87,16.80 75.55,21.08 72.74,25.86 69.93,30.64 66.96,34.35 63.99,38.07 60.41,42.84 56.84,47.60 53.01,50.96 49.19,54.32 41.64,54.88 34.08,55.45 27.46,53.97 20.84,52.49 15.67,52.09 10.50,51.68 1.93,49.93 -6.62,48.19 -12.62,47.33 -18.61,46.48 -12.93,43.66 -7.25,40.84 -8.29,41.98 -9.32,43.12 -10.60,43.98 -11.88,44.84 -13.33,45.37 -14.78,45.90 -16.31,46.07 -17.85,46.23 -19.38,46.03 -20.90,45.82 -22.34,45.26 -23.77,44.69 -25.03,43.80 -26.29,42.91 -27.30,41.74 -28.31,40.58 -29.01,39.20 -29.71,37.83 -30.06,36.32 -30.41,34.82 -30.39,33.28 -30.37,31.74 -29.98,30.24 -29.59,28.75 -28.86,27.40 -28.12,26.04 -28.02,26.03 -27.91,26.03 -24.39,21.50 -20.88,16.96 -19.08,13.07 -17.28,9.17 -14.98,4.97 -12.68,0.77 -10.81,-2.16 -8.94,-5.11 -8.20,-6.10 -7.45,-7.10 -6.50,-7.89 -5.54,-8.68 -4.42,-9.21 -3.30,-9.75 -2.08,-10.00 -0.87,-10.26 0.36,-10.21 1.60,-10.17 2.80,-9.83 3.99,-9.49 5.07,-8.87 6.15,-8.26 7.05,-7.40 7.94,-6.54 8.61,-5.50 9.28,-4.45 9.68,-3.28 10.08,-2.10 10.18,-0.86 10.29,0.36 10.09,1.59 9.90,2.82 9.42,3.96 8.94,5.11 8.94,5.11 L 8.94,5.11 Z"
        ></path></g
      ></svg
    >

  <main>
    

    <canvas id="gameCanvas"> </canvas>

    <h1 id="scoreHeader">Puntos: <span id="score">0</span></h1>
    <dialog id="questionDialog">
      <h1>Escoge la respuesta correcta para continuar:</h1><span id="question"></span>
      <button id="0">Tony Revolori</button>
      <button id="1">Oscar Isaac</button>
      <button id="2">Jennifer Lopez</button>
    </dialog>
    <dialog id="gameOver">
      <h1>El juego termina!</h1><span>Reload to try again</span>
    </dialog>
  </main>
  <style>
    #logo {
      width: 200px;
      top: 20px;
      left: 20px;
      position: fixed;
      height: fit-content;
    }
    #scoreHeader {
      position: absolute;
      right: 20px;
      bottom: 20px;
      color: white;
    }
    main {
      height: fit-content;
      display: grid;
      width: 100%;
      height: 100%;
    }

    html {
      margin: 0;
      padding: 0;
      background-color: black;
      width: 100%;
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      /* display:grid; */
    }

    #gameCanvas {
      justify-self: center;
      background-color: darkblue;
      top: 10%;
      position: absolute;
      border: 3px solid gray;
    }
  </body>
  </style>
  <script is:inline>
    //initiate the system
    const width = 1100;
    const height = 500;
    const people = ["Tony Revolori", "Oscar Isaac", "Jennifer Lopez"];
    var questions = [
      {
        person: 0,
        question: "Sus padres son de Guatemala. l es de Anaheim, California.",
        seen: false,
      },
      {
        person: 0,
        question: "Es soltero y no est casado o divorciado.",
        seen: false,
      },
      {
        person: 0,
        question: "Su primer trabajo fue en una comercial de comida beb.",
        seen: false,
      },
      {
        person: 0,
        question: "Le interesa el parkour pero es cuidadoso.",
        seen: false,
      },
      {
        person: 0,
        question:
          "En 2014, fue uno de los veinte actores menos de veinte aos para mirar que IndieWire escogi.",
        seen: false,
      },
      {
        person: 0,
        question:
          "En 2017, tuvo el papel de Flash Thompson en la pelcula Spiderman: Homecoming. Su papel es inolvidable. Tambin, le fascina Marvel. ",
        seen: false,
      },
      {
        person: 0,
        question:
          "En 2018, gana el Impact Award del grupo de Nacional Hispanos Medios.",
        seen: false,
      },
      {
        person: 0,
        question: "Tiene un hermano que se llama Mario.",
        seen: false,
      },
      {
        person: 0,
        question:
          "Fue actor en las pelculas The Grand Budapest Hotel, The French Dispatch, y Asteroid City.",
        seen: false,
      },
      {
        person: 0,
        question:
          "Est trabajando con dibujos animados y programas de televisin. Un ejemplo es Lego Star Wars: Rebuild the Galaxy.",
        seen: false,
      },

      {
        person: 1,
        question: "Viva en Florida cuando era un nio",
        seen: false,
      },
      {
        person: 1,
        question:
          "Fue la voz de Miguel en la pelcula Hombre de araa: cruzando la Spiderverse",
        seen: false,
      },
      {
        person: 1,
        question: "Fue el padre de Paul en la pelcula Dune parte uno",
        seen: false,
      },
      {
        person: 1,
        question: "Est casado con Elvira Lind de 2017",
        seen: false,
      },
      {
        person: 1,
        question: "Los padres son Mara Eugenia y Oscar Gonzalo Hernndez Cano",
        seen: false,
      },
      {
        person: 1,
        question:
          "Tpicamente l es un persona muy tranquilo y enserio en sus pelculas",
        seen: false,
      },
      { person: 1, question: "A l le gusta tocar la guitarra", seen: false },
      { person: 1, question: "l es 59 y guatemalteco ", seen: false },
      {
        person: 1,
        question:
          "Fue el actor de Poe Dameron en la pelcula guerra de las galaxias y fue maduro y seguro ",
        seen: false,
      },
      {
        person: 1,
        question:
          "El se mud a los Estados Unidos cuando era 5 meses y es un orgulloso guatemalteco",
        seen: false,
      },

      {
        person: 2,
        question: "Ella lleva una famosa vestido verde en los Grammys de 2000",
        seen: false,
      },
      {
        person: 2,
        question:
          "Ella es la sola mujer tener la numero uno pelcula y lbum a el mismo tiempo. ",
        seen: false,
      },
      {
        person: 2,
        question:
          "Ella complete la Nautica Malibu Triatln en 2 horas, 23 minutos, y 28 segundos.",
        seen: false,
      },
      {
        person: 2,
        question:
          "Es de la Bronx, Nueva York, y vivi con una famila de Puerto Rico.",
        seen: false,
      },
      {
        person: 2,
        question:
          "A ella le encanta cocinar y comer el arroz con frijoles y chuletas de pollo. ",
        seen: false,
      },
      {
        person: 2,
        question:
          "Ella escribi y cant los canciones famosas En la Piso, Vamos a Hacer Ruido, y El Amor no cuesta una Cosa.",
        seen: false,
      },
      {
        person: 2,
        question:
          "Est casada con Ben Affleck, y la pareja tiene dos hijos, Emme Maribel y Max.",
        seen: false,
      },
      {
        person: 2,
        question: "Ella est divorciada de tres personas. ",
        seen: false,
      },
      {
        person: 2,
        question: "Ella es una cantante muy inolvidable porque es famosa",
        seen: false,
      },
      {
        person: 2,
        question:
          "Fue un actriz en las pelculas siguiente: Mi Hija Pequea, Mi Familia, Tren de Dinero, y  Sangre y Vino. ",
        seen: false,
      },
    ];
    var max_points = questions.length;
    var points = 0;
    var buffed = 0;
    let door_open = 30000;
    const ctx = document.getElementById("gameCanvas").getContext("2d");
    document.getElementById("gameCanvas").width = width;
    document.getElementById("gameCanvas").height = height;

    //each cell is a 25 x 25 pixel area (1 pixel space dedicated to borders if necessary)
    //divide the system into a 44 x 20 rectangle

    let columns = [];
    for (var i = 0; i < 44; i++) {
      let rows = [];
      for (var j = 0; j < 20; j++) {
        rows.push({
          containsPlayer: false,
          containsGhost: false,
          containsPoint: false,
          containsBigPoint: false,
          containsFruit: 0,
          isWall: false,
          isDoor: false,
        });
      }
      columns.push(rows);
    }

    //define walls
    //edges are walls, middle is a rectangle, maze sort of thing.
    //6 x 4 reserved in the middle
    //wall texure
    //draw the 2 horizontal walls
    for (var i = 0; i < 8; i++) {
      let rows = columns[17 + i];
      rows[6].isWall = true;
      rows[11].isWall = true;
    }
    for (var i = 0; i < 4; i++) {
      columns[17][7 + i].isWall = true;
      columns[24][7 + i].isDoor = true;
    }

    for (var i = 0; i < 44; i++) {
      columns[i][0].isWall = true;
      columns[i][2].isWall = true;
      columns[i][4].isWall = true;
      columns[i][19].isWall = true;
      columns[i][17].isWall = true;
      columns[i][15].isWall = true;
      columns[i][13].isWall = true;
    }
    for (var i = 0; i < 20; i++) {
      columns[0][i].isWall = true;
      columns[43][i].isWall = true;
    }

    //form corner things
    columns[1][1].isWall = true;
    columns[42][1].isWall = true;
    columns[1][18].isWall = true;
    columns[42][18].isWall = true;

    columns[2][2].isWall = false;
    columns[41][2].isWall = false;
    columns[2][17].isWall = false;
    columns[41][17].isWall = false;
    columns[0][16].isWall = false;
    columns[43][16].isWall = false;
    columns[2][15].isWall = false;
    columns[41][15].isWall = false;
    columns[10][17].isWall = false;
    columns[33][17].isWall = false;
    columns[10][2].isWall = false;
    columns[33][2].isWall = false;

    columns[15][4].isWall = false;
    columns[28][4].isWall = false;
    columns[15][15].isWall = false;
    columns[28][15].isWall = false;
    columns[10][13].isWall = false;
    columns[33][13].isWall = false;

    columns[0][3].isWall = false;
    columns[43][3].isWall = false;
    columns[2][8].isWall = true;
    columns[2][9].isWall = true;
    columns[2][10].isWall = true;
    columns[2][11].isWall = true;
    columns[2][6].isWall = true;
    columns[3][6].isWall = true;
    columns[4][6].isWall = true;
    columns[4][7].isWall = true;
    columns[4][8].isWall = true;
    columns[4][9].isWall = true;
    columns[4][10].isWall = true;
    columns[4][11].isWall = true;
    columns[3][11].isWall = true;

    columns[6][6].isWall = true;
    columns[6][8].isWall = true;
    columns[6][9].isWall = true;
    columns[6][10].isWall = true;
    columns[6][11].isWall = true;
    columns[7][11].isWall = true;
    columns[8][11].isWall = true;
    columns[8][10].isWall = true;
    columns[8][9].isWall = true;
    columns[6][7].isWall = true;
    columns[8][7].isWall = true;
    columns[8][6].isWall = true;
    columns[7][6].isWall = true;

    for (var i = 0; i < 6; i++) {
      columns[10 + i][6].isWall = true;
      columns[10][6 + i].isWall = true;
    }
    for (var i = 0; i < 4; i++) {
      columns[12 + i][8].isWall = true;
      columns[12][8 + i].isWall = true;
    }
    for (var i = 0; i < 2; i++) {
      columns[14 + i][10].isWall = true;
      columns[14][10 + i].isWall = true;
    }
    columns[15][11].isWall = true;

    for (var i = 0; i < 4; i++) {
      columns[26 + i][8].isWall = true;
      columns[29][8 + i].isWall = true;
    }
    for (var i = 0; i < 6; i++) {
      columns[26 + i][6].isWall = true;
      columns[31][6 + i].isWall = true;
    }

    for (var i = 0; i < 2; i++) {
      columns[26 + i][10].isWall = true;
      columns[26][10 + i].isWall = true;
    }
    columns[27][11].isWall = true;

    for (var i = 0; i < 3; i++) {
      columns[33 + i][6].isWall = true;
      columns[33 + i][11].isWall = true;
    }
    columns[33][7].isWall = true;
    columns[33][9].isWall = true;
    columns[33][10].isWall = true;
    for (var i = 0; i < 4; i++) {
      columns[35][7 + i].isWall = true;
    }

    for (var i = 0; i < 3; i++) {
      columns[37 + i][6].isWall = true;
      columns[37 + i][11].isWall = true;
    }

    for (var i = 0; i < 4; i++) {
      columns[37][7 + i].isWall = true;
    }
    for (var i = 0; i < 3; i++) {
      columns[39][8 + i].isWall = true;
      columns[41][8 + i].isWall = true;
    }
    columns[42][9].isWall = true;
    columns[41][11].isWall = true;
    columns[41][6].isWall = true;

    //generate points
    for (var i = 0; i < columns.length; i++) {
      for (var j = 0; j < columns[i].length; j++) {
        if (
          !columns[i][j].isWall &&
          !columns[i][j].isDoor &&
          !columns[i][j].containsPlayer
        ) {
          let random = Math.floor(Math.random() * 100);
          if (random > 90 && max_points > 0) {
            columns[i][j].containsBigPoint = true;
            max_points--;
          } else {
            columns[i][j].containsPoint = true;
          }
        }
      }
    }

    function draw_board() {
      ctx.clearRect(0, 0, 1100, 500);
      //ctx.save();

      //draw the board;
      for (var i = 0; i < columns.length; i++) {
        for (var j = 0; j < columns[i].length; j++) {
          if (columns[i][j].isWall) {
            ctx.fillRect(i * 25, j * 25, 25, 25);
          } else if (columns[i][j].isDoor) {
            ctx.fillStyle = "gray";
            ctx.fillRect(i * 25 + 13, j * 25, 12, 25);
            ctx.fillStyle = "black";
          } else if (columns[i][j].containsPlayer) {
            ctx.fillStyle = "yellow";
            ctx.fillRect(i * 25, j * 25, 25, 25);
            ctx.fillStyle = "black";
          } else if (columns[i][j].containsGhost) {
            if (buffed > 0) {
              ctx.fillStyle = "purple";
            } else {
              ctx.fillStyle = "red";
            }

            ctx.fillRect(i * 25 + 5, j * 25 + 5, 15, 15);
            ctx.fillStyle = "black";
          } else if (columns[i][j].containsPoint) {
            ctx.fillStyle = "white";
            ctx.fillRect(i * 25 + 10, j * 25 + 10, 5, 5);
            ctx.fillStyle = "black";
          } else if (columns[i][j].containsBigPoint) {
            ctx.fillStyle = "white";
            ctx.fillRect(i * 25 + 5, j * 25 + 5, 15, 15);
            ctx.fillStyle = "black";
          }
        }
      }
      //ctx.restore();
    }

    //44 x 20
    let player = {
      x: 21,
      y: 18,
      //N, E, S, W
      direction: 0,
      movement_direction: 0,
    };
    window.addEventListener("keydown", function (e) {
      if (e.key == "ArrowRight") {
        player.direction = 1;
      } else if (e.key == "ArrowUp") {
        player.direction = 0;
      } else if (e.key == "ArrowDown") {
        player.direction = 2;
      } else if (e.key == "ArrowLeft") {
        player.direction = 3;
      }
    });

    //fruit type = {type:0, life:25}
    let fruit = [];
    //ghost type = {color:0, x:21, y:4}
    let ghosts = [];
    //0 = red, 1 = blue, 2 = pink, 3 = green
    ghosts.push({ x: 20, y: 9, dead: 0 });
    ghosts.push({ x: 20, y: 9, dead: 0 });
    ghosts.push({ x: 20, y: 9, dead: 0 });
    ghosts.push({ x: 20, y: 9, dead: 0 });
    ghosts.push({ x: 20, y: 9, dead: 0 });
    for (var ghost of ghosts) {
      columns[ghost.x][ghost.y] = true;
    }

    function game_play() {
      //tick door
      if (door_open > 200) {
        door_open -= 120;
      } else {
        for (var i = 0; i < 4; i++) {
          columns[24][7 + i].isDoor = false;
        }
      }

      //calculate ghost movement
      for (var g of ghosts) {
        if (g.dead > 0) {
          g.dead -= 100;
          continue;
        }
        columns[g.x][g.y].containsGhost = false;
        let trying = true;
        while (trying) {
          let direction = Math.floor(Math.random() * 4);
          if (direction == 0 && g.y - 1 > 0 && !columns[g.x][g.y - 1].isWall) {
            g.y -= 1;
            trying = false;
          } else if (
            direction == 1 &&
            g.x + 1 < columns.length - 1 &&
            !columns[g.x + 1][g.y].isWall
          ) {
            g.x += 1;
            trying = false;
          } else if (
            direction == 2 &&
            g.y + 1 < columns[0].length - 1 &&
            !columns[g.x][g.y + 1].isWall
          ) {
            g.y += 1;
            trying = false;
          } else if (
            direction == 3 &&
            g.x - 1 > 0 &&
            !columns[g.x - 1][g.y].isWall &&
            !columns[g.x - 1][g.y].isDoor
          ) {
            g.x -= 1;
            trying = false;
          } else {
          }
        }

        columns[g.x][g.y].containsGhost = true;
      }

      window.requestAnimationFrame(draw_board);
      //check for ghost collisions
      if (columns[player.x][player.y].containsGhost) {
        if (buffed <= 100) {
          //console.log("collided: player position: ("+player.x+", "+player.y+")");
          //console.log(ghosts
          game_over();
          // window.requestAnimationFrame(draw_board);
          clearInterval(game_loop);
          return;
          // setInterval(function(){window.requestAnimationFrame(draw_board)}, 100);
        } else if (buffed > 0) {
          for (var ghost of ghosts) {
            if (ghost.x == player.x && ghost.y == player.y) {
              ghost.dead = 5000;
              ghost.x = 20;
              ghost.y = 9;
              columns[player.x][player.y].containsGhost = false;
            }
          }
        }
      }

      //unset moving pieces before calculating movement
      columns[player.x][player.y].containsPlayer = false;
      //determine direction
      if (player.movement_direction != player.direction) {
        //attempt to change direction
        if (
          player.direction == 0 &&
          player.y > 0 &&
          !columns[player.x][player.y - 1].isWall
        ) {
          player.movement_direction = 0;
        } else if (
          player.direction == 1 &&
          player.x < columns.length - 1 &&
          !columns[player.x + 1][player.y].isWall
        ) {
          player.movement_direction = 1;
        } else if (
          player.direction == 2 &&
          player.y < columns[0].length - 1 &&
          !columns[player.x][player.y + 1].isWall
        ) {
          player.movement_direction = 2;
        } else if (
          player.direction == 3 &&
          player.x > 0 &&
          !columns[player.x - 1][player.y].isWall &&
          !columns[player.x - 1][player.y].isDoor
        ) {
          player.movement_direction = 3;
        }
      }

      if (player.movement_direction == 0) {
        if (player.y > 0 && !columns[player.x][player.y - 1].isWall) {
          player.y -= 1;
        } else if (player.y <= 0) {
          player.y = 19;
        }
      } else if (player.movement_direction == 1) {
        if (
          player.x < columns.length - 1 &&
          !columns[player.x + 1][player.y].isWall
        ) {
          player.x += 1;
        } else if (player.x >= columns.length - 1) {
          player.x = 0;
        }
      } else if (player.movement_direction == 2) {
        if (
          player.y < columns[0].length - 1 &&
          !columns[player.x][player.y + 1].isWall
        ) {
          player.y += 1;
        } else if (player.y >= columns[0].length - 1) {
          player.y = 0;
        }
      } else if (player.movement_direction == 3) {
        if (
          player.x > 0 &&
          !columns[player.x - 1][player.y].isWall &&
          !columns[player.x - 1][player.y].isDoor
        ) {
          player.x -= 1;
        } else if (player.x <= 0) {
          player.x = 43;
        }
      }
      //consume points
      if (columns[player.x][player.y].containsPoint) {
        columns[player.x][player.y].containsPoint = false;
        points += 100;
      } else if (columns[player.x][player.y].containsBigPoint) {
        columns[player.x][player.y].containsBigPoint = false;
        document.getElementById("questionDialog").showModal();
        clearInterval(game_loop);
        points += 500;
        buffed = 10000;
        ask_question();
        return;
      }

      columns[player.x][player.y].containsPlayer = true;

      window.requestAnimationFrame(draw_board);
      //check for ghost collisions
      if (columns[player.x][player.y].containsGhost) {
        if (buffed <= 100) {
          //console.log("collided: player position: ("+player.x+", "+player.y+")");
          //console.log(ghosts);
          game_over();
          // window.requestAnimationFrame(draw_board);
          clearInterval(game_loop);

          return;
          // setInterval(function(){window.requestAnimationFrame(draw_board)}, 100);
        } else if (buffed > 0) {
          for (var ghost of ghosts) {
            if (ghost.x == player.x && ghost.y == player.y) {
              ghost.dead = 5000;
              ghost.x = 20;
              ghost.y = 9;
              columns[player.x][player.y].containsGhost = false;
            }
          }
        }
      }

      document.getElementById("score").innerText = points;
      buffed -= 100;
      window.requestAnimationFrame(draw_board);
    }

    function ask_question() {
      let question = Math.floor(Math.random() * questions.length);
      while (questions[question].seen) {
        question = Math.floor(Math.random() * questions.length);
      }
      questions[question].seen = true;

      document.getElementById("question").innerText =
        questions[question].question;
      let answer = people[questions[question].person];
      document.getElementById("0").onclick =
        document.getElementById("1").onclick =
        document.getElementById("2").onclick =
          function () {
            //console.log("you lose");
            game_over();
          };
      document.getElementById(questions[question].person).onclick =
        function () {
          game_loop = setInterval(game_play, 120);
          document.getElementById("questionDialog").close();
        };
    }

    let game_loop = setInterval(game_play, 120);

    function game_over() {
      document.getElementById("gameOver").showModal();
    }
  </script>


</html>
