---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Account | Pogoot">
  <main>
    <h1>Your Account</h1>
    <p>Page Under Construction</p>
  </main>
</Layout>

<style>
  body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(37, 37, 37); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* ba */
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }
  main {
    width: 50%;
    left: 25%;
    position: relative;
    text-align: left;
  }
</style>
