---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
---

<!-- :MasonInstall astro-language-server@1.0.8 -->
<Layout title="Home | Pogoot">
  <NavBar />
  <main class="LibraryMain"></main>
</Layout>

<style>
  body {
    display: grid;
    width: 100%;
    height: 100%;
    /* background-color: rgb(253, 249, 241); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }

  main {
    display: grid;
    position: absolute;
    width: 50%;
    /* outline: 2px solid red; */
    top: 50px;
    left: 25%;
    /* padding-left:50px; */
    /* background-image: linear-gradient(to bottom right, #F5E3B8, #F5DD67); */
    /* outline: 2px solid red; */
  }
  #sidebar {
    /* outline: 2px solid red; */
  }
  .notecardplaceholder {
    width: 500px;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #notecard1 {
    background-color: var(--green);
  }
  #notecard2 {
    margin-top: 10px;
    background-color: var(--pink);
    /* position:absolute; */
    /* left:100px; */
    float: right;
  }
</style>
<script src="../proto/result_login.js"></script>
