---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Features | Pogoot">
  <main class="LibraryMain">
    <h1>Features</h1>
    <p>Sweep.rs provides a variety of features. Heres is a quick list:</p>
    <ul>
      <li>Notecards</li>
      <li>Learn mode</li>
      <li>Sharing sets</li>
      <!-- <li>And more...</li> -->
    </ul>
    <p>
      We also have many features that we are currently working on. Here is a
      list of what you can look forward to:
    </p>
    <ul>
      <li>Live games</li>
      <li>Enhanced notecards</li>
      <li>Enhanced user interfaces</li>
      <li>Better search</li>
      <li>Greater customization</li>
      <li>And more...</li>
    </ul>
  </main>
</Layout>

<style>
  body {
    display: grid;
    width: 100%;
    height: 100%;
    /* background-color: rgb(253, 249, 241); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }

  main {
    display: block;
    position: relative;
    width: 50%;
    /* outline: 2px solid red; */
    top: 50px;
    left: 25%;
    /* padding-left:50px; */
    /* background-image: linear-gradient(to bottom right, #F5E3B8, #F5DD67); */
    /* outline: 2px solid red; */
  }
</style>
