---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Pogoot">
  <main class="FirstGlance">
    <div id="dashTitle">
      <h1>Dashboard</h1>
    </div>
    <div id="recent">
      <h2>Recent</h2>

      <div class="cards">
        <span class="chevron">
          <mdui-button-icon icon="chevron_left"></mdui-button-icon>
        </span>
        <div id="exampleCard" class="card">
          <div id="title"><h4>Example title</h4></div>
          <span id="terms">5 terms</span>
          <div id="desc">
            <p id="descp">
              Description
              ddecdecdecdecdecdecdecdecdecdecdecdecdecdecdecdecdececasdfasdfasdfasdf
              alskdjfhgaksdjfgkasg aksjfgkajsfgkjasfg kajsdfgkajsdhfgkasjdfg
              aksdjfgaskdjfgakjg
            </p>
          </div>
        </div>
        <span class="chevron">
          <mdui-button-icon icon="chevron_right"></mdui-button-icon>
        </span>
      </div>
    </div>
    <div id="suggessted"><h2>Suggested</h2></div>
  </main>
</Layout>

<style>
  body {
    display: grid;
    width: 100%;
    height: 100%;
    /* background-color: rgb(253, 249, 241); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }
  .chevron {
    min-height: 100%;
    width: 50px;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  main {
    display: grid;
    position: absolute;
    width: 50%;
    /* outline: 2px solid red; */
    top: 50px;
    left: 25%;
    /* padding-left:50px; */
    /* background-image: linear-gradient(to bottom right, #F5E3B8, #F5DD67); */
    /* outline: 2px solid red; */
  }
  .card {
    outline: gray 2px solid;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 220px;
    height: 124.5117px;
    border-radius: 5px;
    cursor: pointer;

    /* display: none; */
  }
  h4 {
    margin: 0;
  }
  #descp {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0;
    width: calc(100% - 20px);
    height: 100px;
    overflow-y: scroll;
    hyphens: auto;
    word-wrap: break-word;
  }
  .cards {
    display: flex;
    /* width: 100%; */
    /* overflow-x: scroll; */
    /* overflow-y: visible; */
  }
  #terms {
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
  }
</style>
