---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import SearchBar from "../components/SearchBar.astro";
import AlertBox from "../components/AlertBox.astro";
---

<Layout title="Home | Pogoot">
  <NavBar />
  <div class="accountSection">
    <div class="profilePicture">I</div>
    <div><h2>Name</h2> <p>username</p></div>
    <SearchBar id="accountSearchBar" />
  </div>
  <main class="LibraryMain">
    <div class="placeholderLibraryEntry" style="display: none;">
      <div class="header">
        <p class="titlePlaceholder"><strong>Title</strong></p><p
          class="authorPlaceholder"
        >
          <strong>Author: </strong>
        </p><p class="datePlaceholder">Created:</p>
      </div>
    </div>
  </main>
  <AlertBox />
</Layout>

<style>
  .profilePicture {
    background-color: white;
    border-radius: 100% 100%;
    height: 75px;
    width: 75px;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    /* background-color: rgb(253, 249, 241); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }
  .accountSection {
    top: 85px;
    /* width:calc(100%-16.5%); */
    position: relative;
    width: 50%;
    /* height:100%; */
    left: 16.5%;
    display: grid;
    grid-template-columns: 100px 100px;
  }

  .placeholderLibraryEntry {
    /* width:50%; */
    /* height:25%; */
    background-color: white;
    color: black;
    width: 100%;
    /* padding-top:10px; */
    /* margin:5px; */
    border-radius: 5px 5px 5px 5px;
    display: grid;
    /* grid-template-columns: 25% 12.5% 12.5%; */
    text-align: left;
    padding-left: 15px;
    /* justify-content:center; */
    /* align-content:center; */
  }
  .header {
    /* justify-content:space-between; */
    gap: 18px;
    align-content: baseline;
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    height: 60px;
    /* padding-left:10px; */
  }

  main {
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 60px);
    position: relative;
    width: 50%;
    height: 100%;
    /* outline: 2px solid red; */
    top: 50px;
    left: 16.5%;
    row-gap: 10px;
    /* padding-left:50px; */
    /* background-image: linear-gradient(to bottom right, #F5E3B8, #F5DD67); */
    /* outline: 2px solid red; */
  }
</style>

<script>
  document.addEventListener("astro:page-load", function () {
    var alertBox = document.getElementById("exampleAlert");
    alertBox.style.display = "none";
    if (document.URL.indexOf("library") < 1) {
      return;
    }
    function cookie_get(key) {
      let cookies = document.cookie;
      let split = cookies.split(";");
      for (var cookie of split) {
        let cook = cookie.trim().split("=");
        if (cook[0] == key) {
          return cook[1];
        }
      }
      return "";
    }

    function send_alert(color, header, text) {
      var alertBox = document.getElementById("exampleAlert");
      var alerts = document.getElementById("Alerts");
      let box = alertBox.cloneNode(true);
      box.style.outline = color + " solid 3px";
      console.log(box.childNodes);
      box.childNodes[1].innerText = header;
      box.childNodes[3].innerText = text;
      box.style.display = "grid";
      alerts.appendChild(box);
      setTimeout(() => {
        alerts.removeChild(box);
      }, 5000);
    }

    if (cookie_get("auth").length < 2 || cookie_get("username").length < 2) {
      send_alert("red", "Login", "Please Login To View Your Library");
    }
  });
</script>
