---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import SearchBar from "../components/SearchBar.astro";
import AlertBox from "../components/AlertBox.astro";
---

<Layout title="Home | Pogoot">
  <NavBar />
  <div id="content">
  <div class="accountSection">
    <div class="profilePicture">I</div>
    <div><h2>Name</h2> <p>username</p></div>
  </div>
  <div class="SearchBar">
    <SearchBar id="accountSearchBar" />
  </div>
  <!-- <div class="spaceHolder"></div> -->
  <main class="LibraryMain">
  
    <div class="placeholderLibraryEntry">
<strong>title</strong>  
    </div>
  </main>
</div>

  <AlertBox />
</Layout>

<style>
  #content{
    display:grid;
    position:absolute;
    /* outline:2px solid red; */
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    width:100%;
    height:calc(100% - 56px);
    top:56px;
  }
.SearchBar{
grid-row:3;
grid-column:3/6;
width:fit-content;
height:fit-content;
}
  .profilePicture {
    background-color: white;
    border-radius: 100% 100%;
    height: 75px;
    width: 75px;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    /* background-color: rgb(253, 249, 241); */
    margin: 0;
    background-color: var(--blue);
    color: white;
    font-family: LeagueSpartan;
    font-size: 20px;
    /* outline: 2px solid red; */
    /* margin:-8px; */
  }
  .accountSection {
    /* top: 85px; */
    /* width:calc(100%-16.5%); */
    /* position: relative; */
    /* width: 50%; */
    /* height:100%; */
    /* left: 16.5%; */
    display: grid;
    grid-template-columns: 100px 100px;
    width:fit-content;
    grid-column:3/10;
  }
  .LibraryMain{
    grid-row:4/5;
    grid-column:3/8;
    width:100%;
    height:100%;
  }
  .placeholderLibraryEntry {
    /* width:50%; */
    /* height:25%; */
    background-color: white;
    color: black;
    width: 100%;
    /* padding-top:10px; */
    /* margin:5px; */
    border-radius: 5px 5px 5px 5px;
    display: grid;
    /* grid-template-columns: 25% 12.5% 12.5%; */
    /* text-align: left; */
    /* padding-left: 15px; */
    /* justify-content:center; */
    /* align-content:center; */

  }
  .header {
    /* justify-content:space-between; */
    gap: 18px;
    align-content: baseline;
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    height: 60px;
    /* padding-left:10px; */
  }

  main {

  }
  .spaceHolder{
    grid-row:3/4;
    grid-column:1/11;

  }
</style>

<script src="../proto/result_library.js"></script>
