---

---

<div id="Alerts">
  <div class="AlertBox" id="exampleAlert">
    <h3></h3>
    <p></p>
  </div>
</div>
<style>
  #Alerts {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .AlertBox {
    width: fit-content;
    height: fit-content;
    color: white;
    display: grid;
    grid-template-rows: 30% 60%;
    row-gap: 10%;
    padding: 4px;
    text-align: center;
    /* align-content: center; */
    background-color: rgba(0, 0, 0, 0.6);

    /* background-color: white; */
    /* outline: red solid 1px; */
  }
</style>
