<div id="cookie_popup">




  <!-- <span>We Use Cookies</span> -->
  <p>By clicking “Accept all cookies”, you agree Sweep.rs can store cookies on your device and disclose information in accordance with our Cookie Policy.</p>
</div>

<style>
  #cookie_popup {
    position:fixed;
    /* height:10px; */
    z-index:999;
    left:90px;
    bottom:10px;
    height:200px;
    width:250px;
    border-radius:10px;
    /* width:calc(100% - 80px); */
    /* background-color:#FFE5B4; */
    /* color:darkblue; */
    background-color: rgb(var(--mdui-color-surface));
    display:grid;
    text-align:center;
    padding:5px;
    font-size:15px;
    
  }
</style>
