---
import AccountButton from "./AccountButton.astro";
import SearchBar from "./SearchBar.astro";
---
<div class="navbar" transition:persist>
  <div class="navBox"><a class="navElement" href="/">LOGO</a></div>
  <div class="navBox"><a class="navElement" href="/">Home</a></div>
  <div class="navBox"><a class="navElement" href="/library">Library</a></div>
  <div class="navBox"><a class="navElement" href="/tools">Tools</a></div>
  <div class="navBox" id="searchbar"><SearchBar/></div>
  <div class="navBox"><a class="navElement" href="/create">Create</a></div>
  <div class="navBox"><a class="navElement">Notifications</a></div>
  <div class="navBox"><a class="navElement" href="/pricing">Features</a></div>
  <AccountButton/>
</div>

<style>
  
  /* #searchbar{ */
  /*   position:relative; */
  /*   top:0px; */

  /* } */
  .navbar{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
    /* outline: 2px solid red; */
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 40% 5% 10% 5% 19%;
    grid-template-rows: 100%;
    height:55px;
    text-align: center;
    align-items: center;
    background-color:var(--blue);
    border-bottom: 1px solid;

  }
  .navElement{
  }
  .navBox{
    /* outline: 2px solid red; */
    height:100%;
    display:grid;
    align-items:center;
    justify-content:center;
    text-align:center;
    grid-template-columns:100%;
    /* float:baseline; */
    /* font-size:40px; */
  }

</style>
