---
import AccountButton from "./AccountButton.astro";
import SearchBar from "./SearchBar.astro";
---

<div class="navbar" transition:persist client:load>
  <div class="navBox">
    <a class="navElement" href="/"
      ><img id="logo" src="/logo.svg" transition:persist /></a
    >
  </div>
  <div class="navBox" id="home">
    <a class="navElement" href="/" transition:persist>Home</a>
  </div>
  <div class="navBox">
    <a class="navElement" href="/library" transition:persist>Library</a>
  </div>
  <div class="navBox" id="tools">
    <a class="navElement" href="/tools" transition:persist>Tools</a>
  </div>
  <div class="navBox" id="searchbar">
    <SearchBar class="navSearchBar" transition:persist />
  </div>
  <div class="navBox">
    <a class="navElement" href="/create" transition:persist>Create</a>
  </div>
  <div id="notifications" class="navBox">
    <a class="navElement" transition:persist>Notifications</a>
  </div>
  <div class="navBox" id="features">
    <a class="navElement" href="/pricing" transition:persist>Features</a>
  </div>
  <AccountButton />
</div>

<style>
  .navSearchBar {
    top: 11px;
    /* position: relative; */
  }
  .navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 40% 5% 10% 5% 19%;
    grid-template-rows: 100%;
    height: 55px;
    text-align: center;
    align-items: center;
    background-color: var(--blue);
    border-bottom: 1px solid;
  }
  .navElement {
  }
  .navBox {
    /* outline: 2px solid red; */
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 100%;
  }
  #logo {
    width: 37px;
    height: 30px;
    margin-left: 5px;
    /* height: 50%; */
  }
  @media (width<1200px) {
    #searchbar {
      display: none;
    }
    .navbar {
      /* padding-left: 10px; */
      display: flex;
      gap: 10px;
      /* width: calc(100%-10px); */
    }
  }
  @media (width<620px) {
    #notifications {
      display: none;
    }
  }
  @media (width<440px) {
    #features {
      display: none;
    }
  }
  @media (width<360px) {
    #tools {
      display: none;
    }
  }
  @media (width<320px) {
    #home {
      display: none;
    }
  }
  /* #searchbar{
    top:11px;
    position:relative;
    height:100%;
    
  } */
</style>
