---

---

<div class="navbar" transition:persist client:load>
  <mdui-navigation-rail contained transition:persist>
    <mdui-fab lowered icon="search" slot="top"></mdui-fab>
    <mdui-button-icon
      icon="account_circle"
      style="font-size: 42px"
      slot="bottom"
      id="account_button"
    >
    </mdui-button-icon>
    <mdui-navigation-rail-item icon="home" id="home_button"
      >Home</mdui-navigation-rail-item
    >
    <mdui-navigation-rail-item icon="bookmarks" id="library_button"
      >Library</mdui-navigation-rail-item
    >
    <!-- <mdui-navigation-rail-item icon="auto_awesome" id="features_button" -->
    <!--   >Features</mdui-navigation-rail-item -->
    <!-- > -->
    <mdui-navigation-rail-item icon="add" id="create_button"
      >Create</mdui-navigation-rail-item
    >
  </mdui-navigation-rail>
</div>

<script>
  import { prefetch } from "astro:prefetch";
  import { navigate } from "astro:transitions/client";
  document.addEventListener("astro:page-load", function () {
    let loginTime = cookie_get("auth");
    if (loginTime != null && loginTime.length > 5) {
      document.getElementById("account_button").icon = "settings";
    }
    // function cookie_get(key) {
    //   let cookies = document.cookie;
    //   let split = cookies.split(";");
    //   for (var cookie of split) {
    //     let cook = cookie.trim().split("=");
    //     if (cook[0] == key) {
    //       return cook[1];
    //     }
    //   }
    // }
    // console.log("NavEvents Added");
    const home_btn = document.getElementById("home_button");
    home_btn.addEventListener("click", () => {
      navigate("/");
    });
    home_btn.addEventListener("mouseover", () => {
      prefetch("/");
    });
    const library_btn = document.getElementById("library_button");
    library_btn.addEventListener("click", () => {
      navigate("/library");
    });
    library_btn.addEventListener("mouseover", () => {
      prefetch("/library");
    });

    const create_btn = document.getElementById("create_button");
    create_btn.addEventListener("click", () => {
      navigate("/create");
    });
    create_btn.addEventListener("mouseover", () => {
      prefetch("/create");
    });

    // const features_btn = document.getElementById("features_button");
    // features_btn.addEventListener("click", () => {
    //   navigate("/features");
    // });
    // features_btn.addEventListener("mouseover", () => {
    //   prefetch("/features");
    // });
    const account_btn = document.getElementById("account_button");
    account_btn.addEventListener("click", () => {
      let loginTime = cookie_get("auth");
      if (loginTime != null && loginTime.length > 5) {
        navigate("/account");
      } else {
        document.getElementById("login_popup").showModal();
      }
    });
    account_btn.addEventListener("mouseover", () => {
      prefetch("/account");
    });
    document.addEventListener("click", function (e) {
      if (e.target.id != "login_popup") {
        return;
      }
      document.getElementById("login_popup").close();
    });
    let login_tabs = document.getElementById("loginTabs");
    login_tabs.onchange = function (e) {
      if (login_tabs.value == "Login") {
        document.getElementById("login_form").style.display = "block";
        document.getElementById("register_form").style.display = "none";
      } else if (login_tabs.value == "Register") {
        document.getElementById("login_form").style.display = "none";
        document.getElementById("register_form").style.display = "block";
      }
    };

    let cookie_settings = localStorage.getItem("cookies");
    if (cookie_settings != null && cookie_settings.length > 2) {
      let cookie_pop = document.getElementById("cookie_popup");
      cookie_pop.style.display = "none";
    } else {
      let cookie_pop = document.getElementById("cookie_popup");
      cookie_pop.style.display = "grid";
      let all_accept = document.getElementById("all");
      let only_needed = document.getElementById("necessary");
      let custom = document.getElementById("custom");
      all_accept.addEventListener("click", function (e) {
        localStorage.setItem("cookies", "all");
        cookie_pop.style.display = "none";
      });
      only_needed.addEventListener("click", function (e) {
        localStorage.setItem("cookies", "nec");
        cookie_pop.style.display = "none";
      });
      custom.addEventListener("click", function (e) {
        localStorage.setItem("cookies", "custom");
        cookie_pop.style.display = "none";
      });
    }
  });
</script>

<style>
  .navSearchBar {
    top: 11px;
    /* position: relative; */
  }
  .navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: var(--blue);
    border-bottom: 1px solid;
  }
  .navElement {
  }
  .navBox {
    /* outline: 2px solid red; */
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 100%;
  }
  #logo {
    width: 37px;
    height: 30px;
    margin-left: 5px;
    /* height: 50%; */
  }
  @media (width<1200px) {
    #searchbar {
      display: none;
    }
    .navbar {
      /* padding-left: 10px; */
      display: flex;
      gap: 10px;
      /* width: calc(100%-10px); */
    }
  }
  @media (width<620px) {
    #notifications {
      display: none;
    }
  }
  @media (width<440px) {
    #features {
      display: none;
    }
  }
  @media (width<360px) {
    #tools {
      display: none;
    }
  }
  @media (width<320px) {
    #home {
      display: none;
    }
  }
  /* #searchbar{
top:11px;
position:relative;
height:100%;

} */
</style>
